<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jobPostMapper">
  
  <!-- 채용공고 상세 -->
  <select id="selectJobPostDetail" resultType="JobPostVo">
 	SELECT 
  		EMP.NO
		, EMP.CORP_NO
		, EMP.CATEGORY
		, EMP.TITLE
		, EMP.RESPONSIBILITY
		, EMP.QUALIFICATION
		, EMP.PREFERENTIAL
		, EMP.SALARY
		, EMP.BENEFITS
		, EMP.INTRODUCE
		, EMP.SECTOR
		, EMP.ADDRESS
		, EMP.CAREER
		, EMP.DEADLINE
		, CORP.COMPANY_NAME
		, CORP.COMPANY_ADDRESS
		, CORP.LOGO
		, CORP.THUMB
		, JOB.TYPE
	FROM EMPLOYMENT EMP
	JOIN CORPORATE_MEMBER CORP ON EMP.CORP_NO = CORP.NO
	JOIN JOB_CATE JOB ON EMP.CATEGORY = JOB.NO
	WHERE EMP.NO = #{no}
  </select>
  
  <!-- 채용공고 리스트 -->
  <select id="selectJobPostList" resultType="JobPostVo">
  	SELECT
  		EMP.NO
		, EMP.CATEGORY
		, EMP.TITLE
		, EMP.SECTOR
		, EMP.ADDRESS
		, EMP.CAREER
		, CORP.COMPANY_NAME
		, CORP.THUMB
	FROM EMPLOYMENT EMP
	JOIN CORPORATE_MEMBER CORP ON EMP.CORP_NO = CORP.NO
	WHERE EMP.DELETE_YN = 'N'
	AND EMP.DEADLINE >= TO_CHAR(SYSDATE,'YYYY-MM-DD')
  </select>
  
  <!-- 채용공고 리스트 페이징 -->
  <select id="selectPostList" resultType="int">
  	SELECT COUNT(*)
  	FROM EMPLOYMENT
  	WHERE DELETE_YN = 'N'
  	AND DEADLINE >= TO_CHAR(SYSDATE,'YYYY-MM-DD')
  </select>
  
  <!-- 지원하기 -->
  <insert id="insertApplyByMember">
  	INSERT INTO APPLY
  	(
  		NO
		, MEMBER_NO
		, EMP_NO
  	)
  	VALUES
  	(
  		SEQ_APPLY_NO.NEXTVAL
  		, #{memberNo}
  		, #{empNo}
  	)
  </insert>
  
  <!-- 회원번호 가져오기(지원) -->
  <select id="selectApply" resultType="ApplyVo">
  	SELECT 
  		NO
  		, MEMBER_NO
  		, EMP_NO
  	FROM APPLY
  	WHERE NO = #{value}
  </select>
  
  <!-- 채용 공고 검색 -->
  <select id="selectSearchJobPostList" resultType="JobPostVo">
  	SELECT
  		EMP.NO
		, EMP.CATEGORY
		, EMP.TITLE
		, EMP.SECTOR
		, EMP.ADDRESS
		, EMP.CAREER
		, CORP.COMPANY_NAME
		, CORP.THUMB
	FROM EMPLOYMENT EMP
	JOIN CORPORATE_MEMBER CORP ON EMP.CORP_NO = CORP.NO
	WHERE EMP.DELETE_YN = 'N'
	<if test="keyword != null and keyword != ''">
		 AND LOWER(TITLE) LIKE LOWER('%${keyword}%')
	</if>
	AND EMP.DEADLINE >= TO_CHAR(SYSDATE,'YYYY-MM-DD')
	ORDER BY EMP.NO DESC
  </select>
  
  <select id="selectSearchListCnt" resultType="int">
  	SELECT COUNT(*)
  	FROM EMPLOYMENT
  	WHERE DELETE_YN = 'N'
  	<if test="keyword != null and keyword != ''">
		AND LOWER(TITLE) LIKE LOWER('%${keyword}%')
	</if>
  	AND DEADLINE >= TO_CHAR(SYSDATE,'YYYY-MM-DD')
  </select>
  
	<!-- 직군별 공고 조회하기 -->
  <select id="selectPostBySector" resultType="JobPostVo">
  	SELECT
        EMP.NO
        , EMP.CATEGORY
        , EMP.TITLE
        , EMP.SECTOR
        , EMP.ADDRESS
        , EMP.CAREER
        , CORP.COMPANY_NAME
        , CORP.THUMB
    FROM EMPLOYMENT EMP 
    JOIN CORPORATE_MEMBER CORP ON CORP.NO = EMP.CORP_NO
    JOIN JOB_CATE JOB ON JOB.NO = EMP.CATEGORY
    WHERE EMP.DELETE_YN = 'N'
    AND EMP.CATEGORY = #{value}
    AND EMP.DEADLINE >= TO_CHAR(SYSDATE,'YYYY-MM-DD')
    ORDER BY EMP.NO DESC
  </select>
  
	<!-- 직군별 공고 조회하기 -->
  <select id="selectSectorPage" resultType="int">
  	SELECT COUNT(*)
  	FROM EMPLOYMENT
  	WHERE DELETE_YN = 'N'
  	AND CATEGORY = #{value}
  	AND DEADLINE >= TO_CHAR(SYSDATE,'YYYY-MM-DD')
  </select>
  
	<!-- 지원자 조회하기 -->
  <select id="selectApplication" resultType="int">
    SELECT 
        COUNT(*)
    FROM APPLY
    WHERE MEMBER_NO = #{memberNo}
    AND EMP_NO = #{empNo}
  </select>
  
  <delete id="deletePost">
  	DELETE FROM EMPLOYMENT
  	WHERE CORP_NO = #{no}
  </delete>
  
</mapper>
