<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resumeMapper">

	<!-- 이력서 조회하기 -->
	<select id="selectResumeOne" resultType="ResumeVo">
		SELECT 
			NO
			, MEMBER_NO
			, ADRESS
			, LINK
			, INTRODUCE
		FROM RESUME
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<select id="selectEducation" resultType="ResumeVo">
		SELECT
			NO
			, RESUME_NO
			, STATUS
			, EDUCATION
			, SCHOOL_NAME
			, MAJOR
			, ENTER
			, GRADUATE
		FROM EDUCATION
		WHERE RESUME_NO = #{no}
	</select>
	
	<select id="selectLanguage" resultType="ResumeVo">
		SELECT
			NO
			, RESUME_NO
			, LANGUAGE
			, LANGUAGE_LEVEL
		FROM LANGUAGE
		WHERE RESUME_NO = #{no}
	</select>
	
	<select id="selectAward" resultType="ResumeVo">
		SELECT
			NO
			, RESUME_NO
			, AWARD_NAME
			, AWARD_DATE
			, AGENCY
		FROM AWARD
		WHERE RESUME_NO = #{no}
	</select>
	
	<select id="selectCareer" resultType="ResumeVo">
		SELECT
			NO
			, RESUME_NO
			, TYPE
			, COMPANY_NAME
			, TEAM
			, POSITION
			, ENTER
			, LEAVE
			, CURRENT_YN
		FROM CAREER
		WHERE RESUME_NO = #{no}
	</select>
	
	<select id="selectCertificate" resultType="ResumeVo">
		SELECT
			NO
			, RESUME_NO
			, CERTIFICATE_NAME
			, CERTIFICATE_DATE
			, AGENCY
		FROM CERTIFICATE
		WHERE RESUME_NO = #{no}
	</select>
	
	<select id="selectAttach" resultType="ResumeVo">
		SELECT
			NO
			, RESUME_NO
			, ORIGIN_NAME
			, CHANGE_NAME
			, FILE_PATH
			, ENROLL_DATE
		FROM RESUME_ATTATCH
		WHERE RESUME_NO = #{no}
	</select>
	
	<!-- 학력 인서트 -->
	<insert id="resumeMapper.insertEducation" parameterType="java.util.List">
		INSERT INTO EDUCATION
		(	
			NO
			, RESUME_NO
			, STATUS
			, EDUCATION
			, SCHOOL_NAME
			, MAJOR
			, ENTER
			, GRADUATE
		)
		VALUES
		<foreach collection="evList" item="ev" separator="," open="INSERT ALL" close="">
		(
			SEQ_CORPORATE_MEMBER_NO.NEXTVAL
			, #{ev.resumeNo}
			, #{ev.status}
			, #{ev.education}
			, #{ev.schoolName}
			, #{ev.major}
			, #{ev.enterSchool}
			, #{ev.graduate}
		)
		</foreach>
			
		
	</insert>

</mapper>
