*{
  box-sizing: border-box;
}

.jobContent{
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.post{
 flex-grow: 1;
 padding: 0 30px;
}

.category{
  width: 120px;
  font-size: 18px;
  padding: 6px;
}

.title{
  width: 100%;
  height: 3.933rem;
  font-size: 36px;
  font-weight: bold;
  border: none;
  border-bottom: 3px solid black;
}

.title:focus{
  outline: none;
}

.items{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.items label{
  margin-bottom: 10px;
  font-weight: bold;
}

.items textarea{
  resize: vertical;
  min-height: 300px;
  padding: 0.8rem 16px;
  font-size: 16px;
  line-height: 1.65;
  outline: none;
  font-family: 'nanumsquare';
}

.jobDetail{
  margin-top: 30px;
}

.aside{
  width: 20.933rem;
  position: sticky;
  padding: 24px;
  border: 1px solid gray;
  border-radius: 5px;
  height: fit-content;
  right: 0;
  top: 30px;
  margin-top: 60px;
}

.aside dl{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.aside dl label{
  width: 80px;
  font-size: 14px;
  color: #a1aab2;
}

.aside dl input{
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding: 4px 6px;
}

.submit-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 11px 14px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: #1187CF;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.aside dl input.close{
  flex-grow: 0;
}

.min-sales{
  position: relative;
  flex-grow: 1;
}

.min-sales>input{
  width: 100%;
}

.min-sales>span{
  position: absolute;
  right: 10px;
}