*{
  box-sizing: border-box;
}

.content{
  background-color: rgb(248, 249, 250);
  flex-grow: 1;
}

.wrapper{
  width: 100%;
}

.main{
  padding: 0 32px;
  width: 100%;
  max-width: 1148px;
  margin: 0 auto;
}

.section-title{
  padding: 24px 40px 25px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  border-bottom: 1px solid rgb(242, 244, 246);
  margin-bottom: 0px;
  color: rgb(33, 37, 42);
}

.info-section{
  padding: 32px 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 3%) 0px 8px 20px -7px, rgb(0 0 0 / 8%) 0px 0px 1px 0px;
  margin-bottom: 30px;
}

.info-wrapper{
  padding: 32px 40px;
}

.name{
  width: 100%;
  border: none;
  outline: none;
  background: none;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  column-gap: 20px;
  width: 100%;
}

.interval{
  margin-bottom: 30px;
}

.title{
  margin-bottom: 8px;
}

input{
  width: 100%;
  height: 1.9rem;
}

.introduce{
  margin: 0px;
  width: 100%;
  border: none;
  outline: none;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(234, 236, 238);
  font-family: inherit;
  font-size: 15px;
  line-height: 1.2;
  resize: vertical;
  min-height: 250px;
  max-height: 470px;
}

.sales input{
  width: 100%;
  padding-right: 50px;
}

.input-sales{
  position: relative;
}

.input-sales>span{
  position: absolute;
  right: 10px;
  line-height: 1.9rem;
}

.footer{
  height: 30px;
  text-align: center;
  color: rgb(182, 181, 181);
  font-size: 14px;
}

.admin-submit{
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 32px;
  width: calc(100% - 250px);
  height: 4.867rem;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(234, 236, 238);
  z-index: 10;
}