a{
  color: black;
}

.container{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.nav-wrapper{
  width: 250px;
  border-right: 1px solid rgb(234, 236, 238);
}

.nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  display: flex;
  flex-direction: column;
}

.logo{
  text-align: center;
}

.logo>img{
  width: 150px;
  height: 150px;
}

.create{
  text-decoration: none;
}

.create-btn{
  width: 180px;
  height: 2.733rem;
  border-radius: 5px;
  border: 2px solid #1187CF;
  background-color: #1187CF;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.create-btn:disabled{
  cursor: not-allowed;
  border: none;
  background-color: rgba(17, 134, 207, 0.349);
}

.menu{
  display: flex;
  width: 100%;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 14px;
}

.menu-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.corp-info-menu{
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.933rem;
  border-radius: 8px;
}

.corp-info-menu:hover{
  background-color:  rgba(233, 232, 232, 0.788);
}

.nav-list-title{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.nav-list-title>h3{
  font-size: 18px;
  font-weight: bold;
}

.nav-list-title>h5{
  font-size: 18px;
}

.nav-list-wrapper{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.employment-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.employment{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.sort{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon>img{
  margin-right: 10px;
}

.total, .hiring, .deadLine{
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  height: 2.933rem;
  border-radius: 8px;
  padding-left: 50px;
}

.total:hover{
  background-color:  rgba(233, 232, 232, 0.788);
}

.hiring:hover{
  background-color:  rgba(233, 232, 232, 0.788);
}

.deadLine:hover{
  background-color:  rgba(233, 232, 232, 0.788);
}

.logout{
  display: flex;
  align-items: center;
}