a{
  color: black;
}

.container{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.nav-wrapper{
  width: 250px;
  border-right: 1px solid rgb(234, 236, 238);
}

.nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  display: flex;
  flex-direction: column;
}

.logo{
  text-align: center;
}

.logo>img{
  width: 150px;
  height: 150px;
}

.create{
  text-decoration: none;
}

.create>button{
  width: 180px;
  height: 2.733rem;
  border-radius: 5px;
  border: 2px solid #1187CF;
  background-color: #1187CF;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.menu{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 14px;
}

.list-title{
  margin-bottom: 10px;
}

.list-title>h3{
  font-size: 18px;
  font-weight: bold;
}

.list-title>h5{
  font-size: 12px;
}


.list>li:not(:last-child){
  margin-bottom: 30px;
}

.list>li:first-child{
  margin: 30px 0;
}

.employment>li:not(:last-child){
 margin-bottom: 8px;
}

.logout{
  display: flex;
  align-items: center;
}