#corporate{
    font-weight: bold;
}




/* 지도 때문에 */

.info-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(51, 51, 51);

}

.info-top{
    width: 100%;
}

.map-area{
    width: 45%;
    height: 480px;
}

.detail-list-area{
    display: grid;
    grid-template-columns: 2fr 6fr 4fr 4fr 2fr;
    --text-align: center;
}



