#corporate{
    font-weight: bold;
}

.btn-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#wait-btn{
    height: 30px;
    background: #005297;
    color: #fff;
    font-weight: 800;
    font-size: 1rem;
    border-radius: 3px;
    margin-right: -1rem;
    border: none;
    vertical-align: middle;
}

.list-title>div:nth-child(1), .list-items>div:nth-child(1){
    flex-basis: 50px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.list-title>div:nth-child(2), .list-items>div:nth-child(2){
    flex-basis: 60px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.list-title>div:nth-child(3), .list-items>div:nth-child(3){
    flex-basis: 120px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.list-title>div:nth-child(4), .list-items>div:nth-child(4){
    flex-basis: 180px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.list-title>div:nth-child(5), .list-items>div:nth-child(5){
    flex-basis: 100px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.list-title>div:nth-child(6), .list-items>div:nth-child(6){
    flex-basis: 110px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.list-title>div:nth-child(7), .list-items>div:nth-child(7){
    flex-basis: 180px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.list-title>div:nth-child(8), .list-items>div:nth-child(8){
    flex-basis: 100px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}


.checkbox-area label{
    padding: 2px;
}

.checkbox-top{
    margin-bottom: 5px;
}

