@charset "UTF-8";
.container{
    width: 80%;
    height: 70%;
    --border: 1px solid black;
}

.banner{
    width: 100%;
    height: 100px;
    background-color: #1187CF;
    padding: 25px;
    margin-top: 75px;
}

.banner > span{
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.container > div{
    padding: 10px;
}


.btn-outline-secondary:hover{
    background-color: #1187CF;
}

.title{
    height: 65px;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 1px solid lightgray;
    margin-top: 35px;
}

.info-nick{
    margin-top: 10px;
    font-size: 17px;;
}

.content{
    font-size: 20px;
}


.back-sticky{
    position: fixed;
    top: 75%;
    left: 80%;
}

#back-btn{
    width: 40px;
    height: 40px;
    border: 1px solid #EFEFEF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #d1d1d1;
    background-color: white;
    opacity: 70%;
    z-index: 1000;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 50;
}
