@charset "UTF-8";

.container-fluid{
    float: left;
    width: 4%;
}

.d-inline-block{	/* 헤더 로고 이미지  */
	position: relative;
    left: 11px;
}

.navbar{box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;}

.nav-menu-area{
    display: flex;
    align-items: center;

    float: left;
    width: 90%;
}

.nav-info1{	/* 알람 모양  */
    width: 3%;
    margin-right: -50px;
    position: relative;
    right: 30px;
}

.nav-info2{	/* 프로필  */
    width: 3%;
    margin-left: 25px;
    position: relative;
    right: 15px;
}

.nav-menu{
    margin-left: 15px;
}

#nav-menu > a{
    font-size: 20px;
    color: black;
}

#nav-menu > a:hover{
    color: #1187CF;
}
.a{
    font-size: 16px;
    font-weight: 600;
}

.offcanvas-header{
    background-color: #1187CF;
}

#offcanvasNavbarLabel{
    font-size: 25px;
    color: white;
}

.btn-close{
    outline: none;
    opacity: 30%;
    border: 0px;
}

button.btn-close:focus{ 	
    border: 0px;
    outline: none;
}

.navbar-toggler:focus{ 	
    border: 0px;
    outline: none;
}

.navbar-toggler:hover{ 	
    border: 0px;
    outline: none;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 35;
  }

#home{
    float: right;
    margin-top: -5px;
}