@charset "UTF-8";

.container{
    width: 80%;
    height: 70%;
}

.container > div{
    padding: 20px;
}

.detailBar{
	margin-top: 40px;
    border-bottom: 1px solid lightgray;
}

#category{
    margin-bottom: -25px;
    color: white;
    font-weight: 600;
    background-color: #1187CF;
    width: 98px;
    height: 32px;
    text-align: center;
    padding: 8px;
}

#btn{
    display: flex;
    justify-content: end;
}

.btn-outline-secondary{
    border: 1px solid #eee;
}

.btn-outline-secondary:hover{
    background-color: #1187CF;
}

.title{
    font-size: 22px;
    font-weight: 600;  
}


.info{
    margin-top: -20px;
}

.content{
    height: 10%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
}

.etc{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.comment-area{
    border-bottom: 1px solid lightgray;
}

#number{
    text-align: center;
}

#more{
    border: 0px;
    background-color: white;
}


.profile{
    display: flex;
    align-items: center;    
    justify-content: space-between;
    margin-top: 20px;
}

#photo{
    width: 60px;
    height: 60px;
    border: 1px solid #eee;
    border-radius: 35px;
    background-color: #eee;
}

#info{
    display: flex;
    align-items: center;
}

#info2{
    position: relative;
    left: 25px;
}

#nick{
    font-weight: 600;
}

#enroll-date{
    position: relative;
    left: 10px;
}

#ed{
    position: relative;
    left: 50px;
    text-decoration: none;
}

#edit1{
    color: #1187CF;
    padding: 5px;
}

#delete1{
    color: #1187CF;
    padding: 5px;

}

#edit1:hover{
    background-color: #eee;
    border-radius: 5px;
}

#delete1:hover{
    background-color: #eee;
    border-radius: 5px;
}

.my-comment-area{
    margin-top: 20px;
    height: 350px;
}

#my-comment2{
    width: 100%;
    height: 150px;
    text-decoration: none;
    resize: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-top: 20px;
    padding: 15px;

}


.comment-content{
    border-bottom: 1px solid lightgray;
    padding: 30px;
}

#submit-btn {
    background-color: #1187CF;
    color: white;
    border: 1px solid #EEFFF6;
    --font-size: 12px;
    margin-top: 10px;
    float: right;

}

#submit-btn:hover {
    background-color: #0d75b6;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 50;
  }




