@import "/el/resources/css/common/reset.css";

#feedback-header{
    width: 100%;
    height: 100px;
    background-color: rgb(61, 61, 61);
    position: sticky;
    z-index: 1;
    top: 0;
}


#feedback-header>div{
    padding: 25px 20px;
}

.feedback-wrap>div{
    color: rgb(221, 221, 221);
}

.feedback-wrap>div:first-child{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}



.main-wrap{
    width: 580px;
    margin: 0 auto;
    margin-top: 120px;
    height: 80vh;
}
.intro-area-top div{
    line-height: 28px;
}
.intro-area-top>div:first-child{
    font-size: 24px;
    font-weight: bold;
}

.intro-area-top>div:last-child{
    font-size: 19px;
}

.intro-area-top{
    padding-bottom: 16px;
}


.intro-area-bottom>div{
    color: rgba(8, 10, 10, 0.7);;
    font-size: 18px;
    line-height: 28px;
}

.intro-area-bottom strong{
    font-weight: bold;
}

.intro-area-bottom>div:nth-child(2){
    padding-bottom: 14px;
}



.btn-area>button{
    position: relative;
    font-family: inherit;
    line-height: inherit;
    font-weight: 700;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-property: background-color, color, border-color, opacity, box-shadow;
    transition-timing-function: ease-out;
    outline: none;
    border: 1px solid transparent;
    margin: 0px;
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 12px 0px;
    padding: 6px 14px;
    min-height: 40px;
    background-color: #1187CF;
    color: rgb(255, 255, 255);
    border-radius: 4px;
}

.question-area{
    line-height: 28px;
}

.question-area legend{
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 8px;
}

.select-area{

    padding: 8px 16px 0 8px;
    width: 320px;
    margin-bottom: 8px;
}

.select-area label{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    background-color: #1187CF;
    color: #fff;
    max-width: 100%;
    min-width: 75px;
    min-height: 40px;
    outline: 0px;
    padding: 4px;
    width: 100%;
    cursor: pointer;
}
/* 라디오 체크 시 */
.select-area .check{
    background-color: #fff;
    color: #1187CF;
    border: 1px solid #1187CF;
}

.select-area input[type=radio]{
    display: none;
}

.select-area span:first-child{
    width: 22px;
    height: 22px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 700;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.select-area span:nth-child(2){
    margin: 0px;
    max-width: 100%;
    width: inherit;
    font-weight: unset;
    font-size: 20px;
    line-height: 28px;
}

.select-area i{
    padding-right: 8px;
    font-weight: 800;
    display: none;
}
/*라디오 체크 시*/
.check>i{
    display: block;
}

.radio-area{
    margin-bottom: 20px;
}

.input-area{
    margin-top: 10px;
}

.input-area>input{
    appearance: none;
    display: block;
    width: 100%;
    color: rgb(51, 51, 51);
    padding: 0px 0px 5px 5px;
    border-radius: 0px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    line-height: 28px;
    box-shadow: rgba(51, 51, 51, 0.3) 0px 1px;
    --border-bottom: 1px solid #1187CF;
}

#question{
    --padding-bottom: 100px;
    --display: none;
}

.btn-area{
    padding: 26px 10px 0 0;
    text-align: end;
}

.btn-area span{
    
    font-size: 16px;
}