main{
  overflow: hidden;
}

#slide-area{
  position: relative;
  width: 100%;
  height: 250px;
  transition: 0.8s;
}
.slide-items{
  width: 100%;
  height: 100%;
  float: left; 
}

#slide-btn-area{
  transform: translate(46.5%);
}
#slide-btn-area>button{
  width: 20px;
  height: 5px;

}
main div{
  box-sizing: border-box;
  /* border: 1px solid black; */
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
  background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
  background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}

a{
  text-decoration: none;
}

.emp-container{
  width: 1200px;
  margin: 0 auto;
}

.advertisment{
  border-bottom: 1px solid black;
  width: 100%;
  height: 250px;
}

.advertisment>img{
  width: 100%;
  height: 250px;
}

.emp{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emp-wrapper{
  width: 100%;
}

.emp-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 0;
}

.emp-name{
  padding: 5px 0;
  font-size: 14px;
  color: #21252a; 
}

.position{
  padding: 5px 0;
  font-size: 16px;
  font-weight: bold;
  color: #21252a; 
}

.hiring{
  font-size: 24px;
  font-weight: bold;
}

.hiring-wrapper{
  margin-left: auto;
}

.hiring-detail{
  width: 100%;
  padding-right: 15px;
  line-height: 1.7;
  font-size: 15px;
  color: black;
  background: url(../../img/emp/right-arrow.svg) right center / 10px 10px no-repeat;
  cursor: pointer;
}

.announcement{
  display: grid;
  grid-template-columns: repeat(4, minmax(0px, 1fr));
  padding: 0;
  gap: 2.667rem 1.333rem;
}

.announcement-wrapper a{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.img-wrapper{
  position: relative;
  margin: 0px;
}

.img-wrapper>img{
  display: inline-block;
  width: 100%;
  height: 150px;
}

.skill{
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  font-size: 13px;
  color: rgb(135, 142, 152);
}

.skill li + ::before {
  content: "|";
  padding-left: 5.5px;
}

.etc{
  padding: 5px 0;
  font-size: 14px;
  color: rgb(135, 142, 152);
}