*{
  box-sizing: border-box;
}

.jobContent{
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.post{
 flex-grow: 1;
 padding: 0 30px;
}

.header h6{
  display: flex;
  align-items: center;
  font-size: 18px;
}

.header img{
  border-radius: 50%;
  border: 1px solid #f2f4f6;
  width: 2.267rem;
  height: 2.267rem;
  margin-right: 4px;
}

.header h1{
  font-size: 36px;
  line-height: 2;
  font-weight: bold;
  word-break: break-all;
  margin: 4px 0 0;
}

.thumb-wrapper{
  width: 100%;
  height: 350px;
  border-radius: 6px;
  overflow: hidden;
}

.thumb{
  width: 100%;
  height: 100%;
}

.items{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  word-break: break-all;
  white-space: pre-line;
}

.items h3{
  font-weight: bold;
  line-height: 1.65;
}

.jobDetail{
  width: 100%;
  margin-top: 30px;
}

.aside{
  min-width: 17.933rem;
  position: sticky;
  padding: 24px;
  border: 1px solid gray;
  border-radius: 5px;
  height: fit-content;
  right: 0;
  top: 30px;
  margin-top: 60px;
}

.aside dl{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.aside dl dd{
  width: 80px;
  font-size: 14px;
  color: #a1aab2;
}

.aside dl dt{
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 4px 6px;
}

.submit-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 11px 14px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: #1187CF;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.submit-btn:disabled{
  cursor: not-allowed;
  background-color: rgba(17, 134, 207, 0.349);
}

.aside dl input.close{
  flex-grow: 0;
}