a{
  text-decoration: none;
}

.emp-container{
  width: 1200px;
  margin: 0 auto;
}

.emp{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emp-wrapper{
  width: 100%;
}

.emp-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 0;
}

.emp-name{
  padding: 5px 0;
  font-size: 14px;
  color: #21252a; 
}

.position{
  padding: 5px 0;
  font-size: 16px;
  font-weight: bold;
  color: #21252a; 
}

.hiring{
  font-size: 24px;
  font-weight: bold;
}

.hiring-wrapper{
  margin-left: auto;
}

.hiring-detail{
  width: 100%;
  padding-right: 15px;
  line-height: 1.7;
  font-size: 15px;
  color: black;
  background: url(../../img/emp/right-arrow.svg) right center / 10px 10px no-repeat;
  cursor: pointer;
}

.announcement{
  display: grid;
  grid-template-columns: repeat(4, minmax(0px, 1fr));
  padding: 0;
  gap: 2.667rem 1.333rem;
}

.announcement-wrapper a{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.img-wrapper{
  position: relative;
  margin: 0px;
}

.img-wrapper>img{
  display: inline-block;
  width: 100%;
  height: 150px;
}

.skill{
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  font-size: 13px;
  color: rgb(135, 142, 152);
}

.skill li + ::before {
  content: "|";
  padding-left: 5.5px;
}

.etc{
  padding: 5px 0;
  font-size: 14px;
  color: rgb(135, 142, 152);
}

.page-area{
  margin-top: 50px;
}

.page-area>ul{
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 18px;
}

.page-area a{
  padding: 5px 9px;
  border-radius: 3px;
  background-color: #1187CF;
  cursor: pointer;
  color: #fff;
  line-height: 1;
  font-size: 1rem;
  margin: 0 5px;
}