@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body{
  font-family: 'nanumsquare';
}

*{
  box-sizing: border-box;
}

.main-wrapper{
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 32px 0px;
  padding-top: 40px
}

.title{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.info-wrapper{
  padding-bottom: 30px;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.section{
  border-radius: 16px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
}

.basic-info{
  display: grid;
  place-items: center;
  grid-template-rows: auto;
  row-gap: 2px;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 20px;
}

.input{
  width: 350px;
  height: 2.933rem;
}



