@charset "UTF-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body{
  font-family: 'nanumsquare';

}

.wrap{
    width: 70vw;
    --height: 1500px;
    --border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 8fr;
    margin: auto;
    
}

#wrap-top{
    padding-top: 50px;
    padding-left: 20px;
    height: 100px;
}

#cate-name{
    font-size: 24px;
    font-weight: bold; 
}

#cart-wrap{
    --border: 3px solid firebrick;
}

#cart-item{
    display: grid;
    grid-template-columns: 1fr 3fr 7fr 3fr;
    grid-template-rows: 2fr 1fr;
    height: 100px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-bottom: 1px solid lightgray;
}

#carts-num{
    margin-top: 20px;
    border-bottom: 1px solid lightgray;
}

#check-yn{
    margin-top: 20px;
    margin-left: 20px;
    
}

#check-yn>i{
    color: #1187CF;
    
}

#pay-wrap{
    width: 80%;
    border-top: 1px solid lightgray;
    margin-top: 100px;
    display: block;
    margin-left: auto;    
    margin-right: auto;
}

#pay-square{
    margin: auto;
}

#leccart-check{
    grid-row: span 2;
    text-align: center;
    line-height: 100px;
    color: #1187CF;
}

#leccart-img{
    grid-row: span 2;
}

#leccart-name{
    font-size: 22px;
    font-weight: 600;
    padding: 10px;
}

#leccart-teacher{
    color: #5a5a5a;
    padding-left: 10px;
}

#leccart-price{
    grid-row: span 2;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
}

#pay-square{
    --border: 1px solid gold;
    height: 300px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1.3fr 1.3fr;
}

#pay-square>div{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
}

#all-price{
    grid-column: span 2;
    font-weight: 600;
}

#checked-price{
    grid-column: span 2;
    font-weight: 600;
}

#usable-point{
    --margin-left: 10px;
    font-size: 10px;
    color: #5a5a5a;
}

#pay-btn{
    grid-column: span 3;
}

#all-pr, #using-po, #checked-pr{
    --margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
}

#btns{
    background-color: #1187CF;
    color: white;
    border: none;
    width: 100%;
    height: 3rem;
    font-size: 22px;
    font-weight: 600;
}