#teacher{
    font-weight: bold;
}

#profile-wrap>div:nth-child(1){
    height: 180px;
}

.bottom-wrap>div:first-child{
    width: 100%;
    padding: 13px 0px 13px 20px;
    background-color: rgb(247, 245, 248);
    border-top: 1px solid rgb(244, 244, 244);
    text-align: left;
    font-weight: 500;
}

.bottom-wrap>div:nth-child(2){
    padding: 13px 0px 13px 20px;
    border: 1px solid rgb(244, 244, 244);
}

#intro-content{
    border-bottom: 2px solid rgb(51, 51, 51);
    line-height: 20px;
}

.detail-list-area{
    display: grid;
    grid-template-columns: 6fr 2fr 3fr 1.5fr 1.5fr 1.5fr 2fr;
    --text-align: center;
}