#admin{
    background-color: #005297;
}

#admin-cate{
    display: block;
}

#admin-add{
    font-weight: bold;
}

.join-wrap{
    width: 320px;
    margin: 0 auto;
}

.title-wrap{
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}

label{
    cursor: pointer;
}

.input-wrap{
    display: block;
    position: relative;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 110px 10px 14px;
    box-sizing: border-box;

}

.input-wrap>input, .input-wrap>select{
    display: block;
    position: relative;
    width: 290px;
    height: 29px;
    padding-right: 25px;
    line-height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
    box-sizing: border-box;
    z-index: 10;
    text-decoration: none;
    cursor: pointer;
}

input:focus, select:focus{
    outline: none;
}

.join-items>span{
    display: block;
    margin: 9px 0 -2px;
    font-size: 12px;
    line-height: 14px;
    color: red;
}

.btn-area{
    margin: 30px 0 9px;
}

.btn-area>button{
    color: #fff;
    border: solid 1px rgba(0,0,0,.08);
    background-color: #005297;
    display: block;
    width: 100%;
    padding: 15px 0 15px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}