#admin{
    background-color: #005297;
}

#admin-cate{
    display: block;
}

#admin-list{
    font-weight: bold;
}


/* 검색 */
.search-area{
    padding: 0 0 8px 0;
}

.flex-area{
    display: flex;
    justify-content: end;
    align-items: center;
}
.checkbox-area{
    border: 1px solid #dedede;
    padding: 8px;
}

.flex-area{
    padding: 5px;
}
.flex-area select{
    width: 100px;
    height: 36px;
    padding: 0 10px;
    border: 1px solid #dedede;
    background: #fff;
}
.flex-area input[type=text]{
    width: 210px;
    height: 36px;
    border: 1px solid #dedede;
    background: #fff;
    border-radius: 0;
}

label{
    color: rgb(67, 67, 67);
}

#search-btn{
    min-width: 53px;
    height: 36px;
    background: #1187CF;
    color: #fff;
    font-weight: 800;
    font-size: 1rem;
    border-radius: 0;
    margin-left: -1rem;
    border: none;
}


/* 게시물들 */
.list-title{
    display: flex;
    width: 100%;
    padding: 14px 0px;
    border-bottom: 1px solid rgb(51, 51, 51);
    border-top: 2px solid rgb(51, 51, 51);
}

.main-wrap>ul{
    display: flex;
    flex-direction: column;
}

.list-items{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 10px 0;
}

/*페이징부분*/
.page-area{
    margin-top: 50px;
}

.page-area>ul{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 18px;
}



/* 메일보내기 버튼 */
.mail-btn-area{
    text-align: end;
}

#mail-btn{
    height: 30px;
    background: #005297;
    color: #fff;
    font-weight: 800;
    font-size: 1rem;
    border-radius: 3px;
    margin-left: -1rem;
    border: none;
    vertical-align: middle;
    margin-top: 10px;
}



.btn-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#wait-btn{
    height: 30px;
    background: #005297;
    color: #fff;
    font-weight: 800;
    font-size: 1rem;
    border-radius: 3px;
    margin-right: -1rem;
    border: none;
    vertical-align: middle;
}

.list-title>div,.list-items>div{
    font-size: 17px;
}

.list-title>div:nth-child(1), .list-items>div:nth-child(1){
    flex-basis: 80px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);

}

.list-title>div:nth-child(2), .list-items>div:nth-child(2){
    flex-basis: 80px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.list-title>div:nth-child(3), .list-items>div:nth-child(3){
    flex-basis: 120px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.list-title>div:nth-child(4), .list-items>div:nth-child(4){
    flex-basis: 200px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.list-title>div:nth-child(5), .list-items>div:nth-child(5){
    flex-basis: 120px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.list-title>div:nth-child(6), .list-items>div:nth-child(6){
    flex-basis: 120px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.list-title>div:nth-child(7), .list-items>div:nth-child(7){
    flex-basis: 200px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.list-title>div:nth-child(8), .list-items>div:nth-child(8){
    flex-basis: 100px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.atag-area{
    padding: 18px 10px 0px 0px;
    font-size: 15px;
}

.atag-area>a{
    color: black;
}

.block{
    opacity: 0.7;
}

#before, #after, .numBtn{
    padding: 5px 9px;
    border-radius: 3px;
    background-color: #1187CF;
    cursor: pointer;
    color: #fff;
    line-height: 1;
    font-size: 1rem;
    margin: 0 5px;
}

.click{
    background-color: #005297;
}