/* 메뉴바 공통 */
#member{
    background-color: #005297;
}

#member-cate{
    display: block;
}
/* 정보부분 */
h2{
    font-size: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgb(51, 51, 51);
}

.flex-items{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(244, 244, 244);
}

.flex-items>div:first-child{
    width: 130px;
    padding: 13px 0px 13px 20px;
    background-color: rgb(247, 245, 248);
    border-top: 1px solid rgb(244, 244, 244);
    text-align: left;
    font-weight: 500;
}

.flex-items>div:nth-child(2){
    padding-left: 20px;
    align-self: center;
}
/*버튼*/
.btn-area{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 20px;
    padding-top: 40px;
}


#refusal-btn{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 80px;
    height: 40px;
    border-radius: 3px;
    color: #005297;
    background-color: rgb(255, 255, 255);
    border: 1px solid #005297;
    margin-right: 8px;
}

#approval-btn{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 80px;
    height: 40px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #1187CF;
    border: 0px none;
}

h3{
    font-size: 18px;
    padding: 50px 0 15px 0;
    border-bottom: 2px solid rgb(51, 51, 51);
}



.detail-list-area>div{
    --border: 1px solid black;
    height: 45px;
    line-height: 42px;
    width: 100%;
    margin-left: 1.5rem;
}

.detail-list-area button{
    height: 30px;
    width: 50px;
    background-color: #1187CF;
    border: none;
    border-radius: 3px;
    color: #fff;
}

.detail-list-wrap>div:nth-child(2){
    border-bottom: 2px solid rgb(51, 51, 51);
}

.detail-list-wrap li:last-child{
    border-bottom: 2px solid rgb(51, 51, 51);
}

.detail-list-wrap li{
    border-bottom: 1px solid rgb(121, 121, 121);
}

.detail-list-area a{
    color: black;
}