#main-top{
    width: 100%;
    height: 300px;
    border: 1px solid darkblue;
    margin: auto;
}

#img-main{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 300px;
}

.main_image {
    position: relative;
  }
.main_image_text {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate( -50%, -50% );
    color: white;
  }

  #main-content{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate( -50%, -50% );
    color: white;
  }

  #btn-req{
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate( -50%, -50% );
    color: #ced4da;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: large;
    font-weight: 700;

  }