@charset "UTF-8";
#report-wrap{
    margin: auto;
    width: 500px;
    height: 500px;

}

#report-top{
    text-align: center;
    margin-bottom: 10px;
    width: 500px;
    height: 150px;
}

.form-check{
    margin: auto;
    border: 2px solid #1187CF;
    border-radius: 10px;
    width: 350px;
    height: 50px;
}

.check-wrap{
    padding-top: 10px;
}

#blacklist{
    margin: auto;
    border-top: 2px solid #1187CF;
    border-bottom: 2px solid #1187CF;
    width: 500px;
    height: 150px;
    font-size: large;
    color: gray;
    background-color: #1187CF;
    margin-bottom: 20px;
    text-align: center;

}

#pree{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 110px;
    text-align: center;
    font-size: large;
    font-weight: 900;
    color: white;
    overflow: auto;
    white-space: pre-wrap;
    margin-top: 40px;
}

#btn-wrap{
    margin: auto;
    background-color: #1187CF;
    border-radius: 10px;
    width: 350px;
    height: 50px;
    /* margin-top: 20px; */
}

#report-btn{
    margin: auto;
    background-color: #1187CF;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: large;
    color: white;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 10px;
}

img{
    display: inline;
    height: 20px;
    width: 20px;
}