<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">
	
	<select id="selectOneAdminByVo" resultType="AdminVo">
		SELECT 
		    A.NO
		    ,PER.NAME AS PERMISSION
		    ,PO.NAME AS POSITION
		    ,A.ID
		    ,A.PWD
		    ,A.NICK
		    ,A.NAME
		    ,A.PHONE
		    ,A.ENROLL_DATE
		    ,A.MODIFY_DATE
		    ,A.QUIT_YN
		    ,A.PROFILE_NAME
		FROM ADMIN A
		JOIN ADMIN_PERMISSION PER 
		    ON A.PERMISSION = PER.NO
		JOIN ADMIN_POSITION PO 
		    ON A.POSITION = PO.NO
		<where>
			<if test="id != null and id != ''">
			 	A.ID = #{id}			
			</if>    
			<if test="nick != null and nick != ''">
				AND A.NICK = #{nick}
			</if>
		</where>
	</select>
	
	<insert id="insertAdminOne">
		INSERT INTO ADMIN
		(
		    NO
		    , PERMISSION
		    , POSITION
		    , ID
		    , PWD
		    , NICK
		    , NAME
		    , PHONE
		)
		VALUES
		(
		    SEQ_ADMIN_NO.NEXTVAL
		    , #{permission}
		    , #{position}
		    , #{id}
		    , #{pwd}
		    , #{nick}
		    , #{name}
		    , #{phone}
		)
	</insert>
	
	<update id="updateAdminByNo">
		UPDATE ADMIN
		    SET
	    <if test="nick != null and nick != ''">
		    NICK = #{nick}	    
	    </if>
	    <if test="phone != null and phone != ''">
		    ,PHONE = #{phone}	    
	    </if>
	  	<if test="pwd != null and pwd != ''">
		    ,PWD = #{pwd}
	    </if>
		<if test="position != null and position != ''">
			,POSITION = #{position}
		</if>
		<if test="permission != null and permission != ''">
			,PERMISSION = #{permission}
		</if>
		<if test="profileName != null and profileName != ''">
			,PROFILE_NAME = #{profileName}
		</if>
		WHERE NO = #{no}
	</update>
	<select id="selectAdminConut" resultType="int">
		SELECT COUNT(*)
		FROM ADMIN
		WHERE QUIT_YN = 'N'
	</select>
	<select id="selectAdminList" resultType="AdminVo">
		SELECT 
		    A.NO
		    ,PER.NAME AS PERMISSION
		    ,PO.NAME AS POSITION
		    ,A.ID
		    ,A.PWD
		    ,A.NICK
		    ,A.NAME
		    ,A.PHONE
		    ,A.ENROLL_DATE
		    ,A.MODIFY_DATE
		    ,A.QUIT_YN
		FROM ADMIN A
		JOIN ADMIN_PERMISSION PER 
		    ON A.PERMISSION = PER.NO
		JOIN ADMIN_POSITION PO 
		    ON A.POSITION = PO.NO
	</select>
</mapper>
