<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">
	
	<resultMap type="com.coding5.el.member.vo.MemberVo" id="memberMap">
		<result property="memberNo" column="NO"/>
		<result property="memberId" column="ID"/>
		<result property="memberPwd" column="PWD"/>
		<result property="memberName" column="NAME"/>
		<result property="memberNick" column="NICK"/>
	</resultMap>
	
	
	<select id="selectOneAdminByVo" resultType="AdminVo">
		SELECT 
		    A.NO
		    ,PER.NAME AS PERMISSION
		    ,PO.NAME AS POSITION
		    ,A.ID
		    ,A.PWD
		    ,A.NICK
		    ,A.NAME
		    ,A.PHONE
		    ,A.ENROLL_DATE
		    ,A.MODIFY_DATE
		    ,A.QUIT_YN
		    ,A.PROFILE_NAME
		FROM ADMIN A
		JOIN ADMIN_PERMISSION PER 
		    ON A.PERMISSION = PER.NO
		JOIN ADMIN_POSITION PO 
		    ON A.POSITION = PO.NO
		<where>
			<if test="id != null and id != ''">
			 	A.ID = #{id}			
			</if>    
			<if test="nick != null and nick != ''">
				AND A.NICK = #{nick}
			</if>
		</where>
	</select>
	
	<insert id="insertAdminOne">
		INSERT INTO ADMIN
		(
		    NO
		    , PERMISSION
		    , POSITION
		    , ID
		    , PWD
		    , NICK
		    , NAME
		    , PHONE
		)
		VALUES
		(
		    SEQ_ADMIN_NO.NEXTVAL
		    , #{permission}
		    , #{position}
		    , #{id}
		    , #{pwd}
		    , #{nick}
		    , #{name}
		    , #{phone}
		)
	</insert>
	
	<update id="updateAdmin">
		UPDATE ADMIN
		    SET
	    <if test="nick != null and nick != ''">
		    NICK = #{nick}	    
	    </if>
	    <if test="phone != null and phone != ''">
		    ,PHONE = #{phone}	    
	    </if>
	  	<if test="pwd != null and pwd != ''">
		    ,PWD = #{pwd}
	    </if>
		<if test="position != null and position != ''">
			,POSITION = #{position}
		</if>
		<if test="permission != null and permission != ''">
			,PERMISSION = #{permission}
		</if>
		<if test="profileName != null and profileName != ''">
			,PROFILE_NAME = #{profileName}
		</if>
		WHERE NO = #{no}
	</update>
	
	<select id="selectAdminConut" resultType="int">
		SELECT COUNT(*)
		FROM ADMIN
		<if test="keyword != null and keyword != ''">
			WHERE ${category} LIKE '%${keyword}%'
		</if>
	</select>
	
	<select id="selectAdminList" resultType="AdminVo">
		SELECT 
		    A.NO
		    ,PER.NAME AS PERMISSION
		    ,PO.NAME AS POSITION
		    ,A.ID
		    ,A.PWD
		    ,A.NICK
		    ,A.NAME
		    ,A.PHONE
		    ,A.ENROLL_DATE
		    ,A.MODIFY_DATE
		    ,DECODE(QUIT_YN, 'N','유지', 'Y','탈퇴') AS QUIT_YN
		FROM ADMIN A
		JOIN ADMIN_PERMISSION PER 
		    ON A.PERMISSION = PER.NO
		JOIN ADMIN_POSITION PO 
		    ON A.POSITION = PO.NO
    	<if test="keyword != null and keyword != ''">
	    	WHERE A.${category} LIKE '%${keyword}%'
    	</if>
	    ORDER BY A.ENROLL_DATE DESC
	</select>
	
	<select id="selectOneAdminByNo" resultType="AdminVo">
		SELECT 
		    NO
		    ,PERMISSION
		    ,POSITION
		    ,ID
		    ,NICK
		    ,NAME
		    ,PHONE
		    ,ENROLL_DATE
		    ,MODIFY_DATE
		    ,QUIT_YN
		    ,PROFILE_NAME
		FROM ADMIN
   		WHERE NO = #{no}
	</select>
	
	<select id="selectOneAdminById" resultType="AdminVo">
		SELECT 
		    A.NO
		    ,PER.NAME AS PERMISSION
		    ,PO.NAME AS POSITION
		    ,A.ID
		    ,A.PWD
		    ,A.NICK
		    ,A.NAME
		    ,A.PHONE
		    ,A.ENROLL_DATE
		    ,A.MODIFY_DATE
		    ,A.QUIT_YN
		    ,A.PROFILE_NAME
		FROM ADMIN A
		JOIN ADMIN_PERMISSION PER 
		    ON A.PERMISSION = PER.NO
		JOIN ADMIN_POSITION PO 
		    ON A.POSITION = PO.NO
   		WHERE A.ID = #{id}
   		AND A.QUIT_YN = 'N'
	</select>
	
	<select id="selectStudentConut" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		<if test="keyword != null and keyword != ''">
			WHERE ${category} LIKE '%${keyword}%'
		</if>
	</select>
	
	<select id="selectStudentList" resultType="com.coding5.el.member.vo.MemberVo" resultMap="memberMap">
		SELECT 
		    NO
		    ,ID
		    ,PWD
		    ,NAME
		    ,BIRTH
		    ,PHONE
		    ,NICK
		    ,EMAIL
		    ,TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') AS ENROLL_DATE
		    ,MODIFY_DATE
		    ,PROFILE_IMG
		    ,POINT
		    ,REPORT_YN
		    ,DECODE(QUIT_YN, 'N','유지', 'Y','탈퇴') AS QUIT_YN
		FROM MEMBER
		<if test="keyword != null and keyword != ''">
			WHERE ${category} LIKE '%${keyword}%'
		</if>
	</select>
	
	<select id="selectStudentOneByNo" resultType="com.coding5.el.member.vo.MemberVo" resultMap="memberMap">
		SELECT
		    NO
		    ,ID
		    ,PWD
		    ,NAME
		    ,BIRTH
		    ,PHONE
		    ,NICK
		    ,EMAIL
		    ,ENROLL_DATE
		    ,MODIFY_DATE
		    ,PROFILE_IMG
		    ,POINT
		    ,REPORT_YN
		    ,QUIT_YN
		FROM MEMBER
		WHERE NO = #{memberNo}
	</select>
	<select id="selectPointListByNo" resultType="com.coding5.el.member.vo.PointVo">
		SELECT
		    P.MEMBER_NO
		    ,CP.NAME AS HISTORY
		    ,P.CHANGE
		    ,P.ENROLL_DATE
		FROM POINT P
		JOIN CATE_POINT CP ON P.HISTORY = CP.NO
		WHERE P.MEMBER_NO = #{memberNo}
		ORDER BY P.ENROLL_DATE DESC
	</select>
	<insert id="insertPoint">
		INSERT INTO POINT 
		(
			MEMBER_NO
			, HISTORY
			, CHANGE
		) 
		VALUES
		(
			#{memberNo}
			, #{history}
			, #{change}
		)
	</insert>
	<update id="updateStudent">
		UPDATE MEMBER 
			SET 
		POINT = POINT ${change} WHERE NO = #{memberNo}
	</update>
	
</mapper>
