@charset "UTF-8";
.main{
    width: 70%;
    height: 50%;
    --border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 30px;
}

.banner{
    width: 100%;
    height: 100px;
    background-color: #1187CF;
    padding: 25px;
    margin-top: 75px;
}

.banner > span{
    color: white;
    font-size: 35px;
    font-weight: 600;
}



#btn{
    display: flex;
    justify-content: end;
    margin-top: 50px;
}

#btn1{
    border: 1px solid #eee;
}

#btn1:hover{
    background-color: #1187CF;
}

#category{
	margin-bottom: 20px;
	font-size: 18px;
}

.title{
    height: 55px;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 1px solid lightgray;
    margin-top: 10px;
}

.info-nick{
    margin-top: 20px;
    font-size: 17px;;
    margin-bottom: 20px;
}

.content{
    font-size: 20px;
    margin-top: 30px;
    height: 10px;
}

#line{
	border-bottom: 2px solid #1187CF;
	width: 70%;
	margin: 0 auto;
	margin-top: 150px;
	margin-bottom: 30px;
}


.answer-area{
    width: 70%;
    height: 20%;
    margin: 0 auto;
    margin-top: 30px;
}

#answer-info{
    border-bottom: 1px solid lightgray;
    padding: 25px;
}

.answer{
    padding: 10px;
}

#answer-title{
    font-size: 25px;
    font-weight: 600;
}

.answer-content{
    padding: 10px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
    height: 350px;
}

.back-sticky{
    position: fixed;
    top: 75%;
    left: 80%;
}


#back-btn{
    width: 40px;
    height: 40px;
    border: 1px solid #EFEFEF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #d1d1d1;
    background-color: white;
    opacity: 70%;

}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 50;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    margin-left: 5px;
  }