#member{
    background-color: #005297;
}
#student{
    font-weight: bold;
}
#member-cate{
    display: block;
}
#menu-height{
    padding: 20px 0 620px 0;
}
.info-items{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(244, 244, 244);
}

.title-wrap{
    width: 180px;
    padding: 13px 0px 13px 20px;
    background-color: rgb(247, 245, 248);
    border-top: 1px solid rgb(244, 244, 244);
    text-align: left;
    font-weight: 500;
}

.input-wrap{
    padding-left: 25px;
    align-self: center;
    display: block;
    background: #fff;
    box-sizing: border-box;
}

.input-wrap>input{
    display: block;
    position: relative;
    width: 300px;
    height: 29px;
    padding-right: 25px;
    line-height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
    box-sizing: border-box;
    z-index: 10;
}

.input-wrap>input:focus{
    outline: none;
}

.info-items>span{
    display: block;
    font-size: 12px;
    color: red;
    align-self: center;
}

.btn-area{
    display: flex;
    width: 100%;
    padding: 20px 0px;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.btn-area>div{
    padding-left: 10px;
}

.active{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 80px;
    height: 42px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #005297;
    border: 1px solid #005297;
}

.stop{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 80px;
    height: 42px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: gray;
    border: 1px solid gray;
}

#alert-btn{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 80px;
    height: 42px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #005297;
    border: 1px solid #005297;
}

.title-wrap>label{
    font-weight: bold;
}

#profile-wrap{
    height: 200px;

}

#input-file{
    display: block;
    align-self: flex-end;
    margin-left: 150px;
}

h3{
    font-size: 18px;
    padding: 50px 0 15px 0;
}

.point-box{
    padding: 20px;
    border: 1px solid rgb(51, 51, 51);
}

.point-top{
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr;
    padding: 20px 0px;
}



.point-top select{
    width: 120px;
    height: 38px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}

.point-top input{
    width: 240px;
    height: 38px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}

.point-top button{
    height: 38px;
    width: 56px;
    background-color: #1187CF;
    border: none;
    border-radius: 3px;
    color: #fff;
}

.list{
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr;
    padding: 12px 0px 12px 5px;
}

.list-title{
    border-bottom: 1px solid rgb(51, 51, 51);
    font-weight: 600;
}

#empty-box{
    text-align: center;
    padding: 50px 0 40px;
    font-size: 18px;
}


#alertMsg{
    margin-top: 10px;
}