<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.coding5.el.admin.vo.AdminVo" alias="AdminVo"/>
		<typeAlias type="com.coding5.el.corp.vo.CorpVo" alias="CorpVo"/>
		<typeAlias type="com.coding5.el.emp.vo.EmpVo" alias="EmpVo"/>
		<typeAlias type="com.coding5.el.notice.vo.NoticeVo" alias="NoticeVo"/>
	</typeAliases>
  
  
</configuration>
