/* 본문 */
#container{
    width: 70vw;
    height: 70%;
    margin: 0 auto;
}

#main{
    display: grid;
    grid-template-columns: 1fr 2fr 5fr 3fr 3fr 1fr;
    grid-template-rows: repeat(14, 50px);
    align-content: center;
    padding: 10px;
}

.th{
    border-bottom: 1px solid black;
    font-weight: 600;
}

.td{
    border-bottom: 1px solid lightgray;
    font-size: 15px;
}

#title:hover{
    font-size: large;
    font-weight: 600;
}

#main .th,.td, #searchBar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

#main-bot {
    grid-column: span 6;
    row-gap: 40px;
    display: flex;
    flex-direction: row-reverse;   
    margin: 7px;
}

#write{
    border-bottom: none;
    background-color: #1187CF;
    color: white;
    border-radius: 10px;   
    font-size: 13px;
    
}

#write:hover{
    background-color: #0d73b2;
}

#page-area{
    grid-column: span 6;
    text-align: center;
    margin-top: 10px;
    border-bottom: none;
    display: flex;
    flex-direction : column;
    align-items: center;
}

#searchBar{
    grid-column: span 6;
    text-align: center;
    margin-top: 10px;
    border-bottom: none;
    display: flex;
    flex-direction : row;
    align-items: center;
}

#search{
    width: 60px;
    height: 30px;
    outline: none;
    border-style: none;
    margin: 5px;
    background-color: #D9D9D9;
    opacity: 50%;
    text-align: center;
    font-size: 13px;
    border-radius: 5px;
}

#search2{
    outline: none;
    border-style: none;
    border-bottom: 1px solid lightgray;
    margin-top: 5px;
}

.btn-outline-secondary{
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.btn-outline-secondary:hover{
    opacity: 20%;
    font-size: large;
    background-color: #1187CF;
}

.search-button{
    outline: none;
    border-style: none;
    background-color: white;
    border-bottom: 1px solid lightgray;
    margin-bottom: 1px;
}


#dodbogi{
    opacity: 20%;

}

#dodbogi:hover{
    opacity: 50%;
    
}



