@charset "UTF-8";
#container{
    width: 80%;
    height: 70%;
    margin: 0 auto;
}

#write-fr{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr 1fr 1fr;
    align-content: center;
    padding: 10px;
    width: 100%;
    height: 1000px;
}

#title{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title > input{
    font-weight: 600;
    border: 0px;
    border-bottom: 1px solid lightgray;
    margin-left: 10px;
    width: 60%;
    outline: none;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#content > textarea{
    border: 1px solid lightgray;
    margin-left: 10px;
    resize: none;
    width: 60%;
    height: 550px;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
   
}

#file{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#file > input{
    width: 60%;
    margin-left: 36px;
    margin-top: 20px;
    margin-right: 23px;
}

#category > select{
    width: 90px;
    height: 30px;
    outline: none;
    border-style: none;
    margin-top: 20px;
    margin-left: 325px;
    background-color: #E9ECEF;
    color: black;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
    padding: 3px;
}

#category > select:hover{
    background-color: #e1e4e6;
    color: black;
}

option{
	width: 80px;
	color: black;
	text-align: center;
}

#write{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submit-btn{
    border-bottom: none;
    background-color: #1187CF;
    color: white;
    border-radius: 10px;   
    font-size: 13px;
    margin-top: 20px;
    outline: none;
}

#submit-btn:hover{ background-color: #0d73b2;}

#reset{ outline: none; }