.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header{
  text-align: center;
  width: 100%;
}

.header-wrapper{
  border-bottom: 1px solid rgb(221, 218, 218);
}

.img{
  width: 150px;
  margin: 0 auto;
}

.img>img{
  width: 100%;
}

.main{
  display: flex;
  justify-content: center;
  padding: 0px 20px;
}

.content{
  margin: 32px 0px;
  max-width: 400px;
  width: 100%;
}

.title{
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.join-title{
  width: 100%;
  margin-bottom: 4px;
  user-select: none;
  font-size: 15px
}

.wrapper{
  width: 100%;
  margin-bottom: 10px;
}

.input{
  display: flex;
  align-items: center;
  width: 350px;
  height: 2.933rem;
  padding: 0px 16px;
  border-radius: 6px;
  cursor: text;
  border: 1px solid rgb(182, 181, 181);
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: #1187CF;
  color: rgb(255, 255, 255);
  padding: 13px 16px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 32px;
  margin-top: 32px;
  width: 100%;
}

.btn:disabled{
  cursor: not-allowed;
  background-color: rgba(17, 134, 207, 0.349);
}

.choose{
  display: flex;
  align-items: center;
  height: 2.667rem;
}

.line{
  background-color: rgb(223, 226, 230);
  width: 100%;
  height: 1px;
  margin: 8px 0px;
}

.login{
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.login>span{
  font-size: 15px;
  margin-right: 10px;
}


.login>a{
  font-size: 15px;
  font-weight: bold;
  color: rgb(83, 89, 97);
  text-decoration: none;
}

.footer{
  width: 100%;
}

.footer-p{
  text-align: center;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid rgb(221, 218, 218);
  color: rgb(182, 181, 181);
  font-size: 14px;
}

.x-icon{
  display: flex;
  align-items: center;
}

.x-icon svg{
  margin-top: 5px;
}

.essential{
  position: relative;
  top: 1px;
  margin-left: 4px;
  font-size: 12px;
  line-height: 1.5;
  color: rgb(229, 0, 0);
}

