@charset "UTF-8";
#customer-cate{
    display: block;
}
#customer{
    background-color: #005297;
}

#notice{
    font-weight: bold;
}

.main-wrap .td, .th{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.th{
	border-bottom: 1px solid lightgray;
    font-weight: 600;
    --background-color: rgba(238, 238, 238, 0.546);
}

.td{
    border-bottom: 1px solid lightgray;
}

#title-a{
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

}

#title-a:hover{
    color: #1187CF;
}


.list-wrap{
    display: grid;
    grid-template-columns: 0.3fr 0.2fr 0.5fr 2fr 0.5fr 0.8fr 0.2fr 0.3fr;
    grid-template-rows: repeat(11, 45px);
    align-content: center;
    padding: 10px;
    margin-top: 30px;
}

/*페이징부분*/
#page-area{
    margin-top: 50px;
    grid-column: span 8;
    text-align: center;
    margin-top: 50px;
    border-bottom: none;
    display: flex;
    flex-direction : column;
    align-items: center;
	height: 35px;
}

#page-area ul{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 18px;
}


#page-area a{
    padding: 5px 9px;
    border-radius: 3px;
    background-color: #1187CF;
    cursor: pointer;
    color: #fff;
    line-height: 1;
    font-size: 1rem;
    margin: 0 5px;
}


#main-bot {
    grid-column: span 8;
    margin-top: 25px;
}

#write{
    border-bottom: none;
    background-color: #1187CF;
    color: white;
    border-radius: 25px;   
    padding: 10px;
    height: 40px;
    width: 90px;
    text-align: center;
}

#write:hover{
    background-color: #0d73b2;
}

#edit, #del{
    outline: none;
    border: 0px;
    background-color: #eee;
    border-radius: 5px;
    width: 45px;
    height: 30px;
}

#edit:hover, #del:hover{
    background-color: rgb(228, 227, 227);
}