<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cartMapper">
  
  <insert id="addCartOne">
		insert into CART
		(
		  MEMBER_NO
		, CLASS_NO
		)
		values
		(
		  #{memberNo}
		  , #{classNo}
		)
	</insert>
	
	<!-- <select id="selectCountInCart" resultType="String" parameterType="com.coding5.el.cart.vo.CartVo">
		SELECT DECODE(COUNT(*), 0, 'false', 'true') from CART 0이면 false -> false일 때 카트에 저장
		WHERE MEMBER_NO = #{memberNo}
		and CLASS_NO = #{classNo}
	</select> -->  
	
	
	<select id="getCartList" resultType="com.coding5.el.cart.vo.CartVo">
     select
		CART.MEMBER_NO
		, CART.CLASS_NO
		, CART.ORDER_YN
		, C.CLASS_NAME AS className
		, C.PRICE price
		, C.TEACHER_NO AS teacherNo
	from CART CART
	
	
	join CLASS C
	on C.NO = CART.CLASS_NO
	
	JOIN TEACHER TEA
	ON C.TEACHER_NO = TEA.MEMBER_NO
    
    where CART.MEMBER_NO = #{mno}
	and CART.ORDER_YN = 'N'
	</select>
</mapper>
