<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cartMapper">
  
  
  <!-- 장바구니 카트 추가 -->
  <insert id="addCartOne">
		insert into CART
		(
		CART_NO
		, MEMBER_NO
		, CLASS_NO
		)
		values
		(
		SEQ_CART_NO.NEXTVAL
		  ,#{memberNo}
		  , #{classNo}
		)
	</insert>
	
	<!-- <select id="selectCountInCart" resultType="String" parameterType="com.coding5.el.cart.vo.CartVo">
		SELECT DECODE(COUNT(*), 0, 'false', 'true') from CART 0이면 false -> false일 때 카트에 저장
		WHERE MEMBER_NO = #{memberNo}
		and CLASS_NO = #{classNo}
	</select> -->  
	
	
	<!-- 장바구니 카트 리스트 조회 -->
	<select id="getCartList" resultType="com.coding5.el.cart.vo.CartVo">
     select
		CART.MEMBER_NO
		, CART.CLASS_NO
		, CART.ORDER_YN
		, C.CLASS_NAME
		, C.PRICE
		, mem.nick as teacher_no
	from CART CART
	
	
	join CLASS C
	on C.NO = CART.CLASS_NO
	
	JOIN TEACHER TEA
	ON C.TEACHER_NO = TEA.no
    
    join member mem
    on mem.no = tea.member_no
    
    where CART.MEMBER_NO = #{mno}
	and CART.ORDER_YN = 'N'
	</select>
	
	
	<!-- 찜 추가 -->
	<insert id="addWishOne">
		insert into WISH
		(
		MEMBER_NO
		, CLASS_NO
		)
		values
		(
		  #{memberNo}
		  , #{classNo}
		)
	</insert>
	
	<!-- 찜 목록 조회 -->
	<select id="getWishList" resultType="com.coding5.el.cart.vo.CartVo">
     select
		WISH.MEMBER_NO
		, WISH.CLASS_NO
		, C.CLASS_NAME
		, C.PRICE
		, mem.nick as teacher_no
	from WISH WISH
	
	
	join CLASS C
	on C.NO = WISH.CLASS_NO
	
	JOIN TEACHER TEA
	ON C.TEACHER_NO = TEA.no
    
    join member mem
    on mem.no = tea.member_no
    
    where WISH.MEMBER_NO = #{mno}
	</select>
  
  
  	<!-- 장바구니 카트 삭제 -->
	<delete id="deleteCart">
	
		delete from cart 
		where MEMBER_NO = #{memberNo}
		and CLASS_NO = #{classNo}
	
	</delete>
	
	
</mapper>
