<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="classCommMapper">
	<insert id="insertWrite">
		INSERT INTO CLASS_COMM
		(
			NO
			, WRITER
			, CATE_NO
			, TITLE
			, CONTENT
		)
		VALUES
		(
			SEQ.CLASS_COMM.NO.NEXTVAL
			
		)
	</insert>
  
</mapper>
