<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="classCommMapper">

	<insert id="insertWrite">
	
		INSERT INTO CLASS_COMM
		(
			NO
			, WRITER
			, CATE_NO
			, TITLE
			, CONTENT
		)
		VALUES
		(
			SEQ_CLASS_COMM_NO.NEXTVAL
			, ${writer}
			, ${cateNo}
			, #{title}
			, #{content}
		)
		
	</insert>
	
	<select id="selectQnaList" resultType="com.coding5.el.class_comm.vo.ClassCommVo">
		SELECT CC.NO AS CLASS_COMM_NO
		    ,CCA.NAME AS CATE_NO
		    ,M.NAME AS WRITER
		    ,TITLE 
		    ,CONTENT
		    ,ANSWER_YN
		    ,CC.REPORT_YN AS REPORT_YN
		    ,HIT
		    ,CC.ENROLL_DATE AS ENROLL_DATE
		FROM CLASS_COMM CC
		JOIN COMM_CATE CCA
		ON CC.CATE_NO = CCA.NO
        JOIN MEMBER M
        ON CC.WRITER = M.NO
		WHERE CC.CATE_NO = 1
	</select>
	
	<select id="selectDetailVo" resultType="com.coding5.el.class_comm.vo.ClassCommVo">
		SELECT 
		    CC.NO AS CLASS_COMM_NO
		    , CCA.NAME AS CATE_NO
	        , M.NO AS WRITER_NO
		    ,M.NAME AS WRITER
		    ,TITLE 
		    ,CONTENT
		    ,ANSWER_YN
		    ,CC.REPORT_YN AS REPORT_YN
		    ,HIT
		    ,CC.ENROLL_DATE AS ENROLL_DATE
		FROM CLASS_COMM CC
		JOIN COMM_CATE CCA
		ON CC.CATE_NO = CCA.NO
		JOIN MEMBER M
		ON CC.WRITER = M.NO
		WHERE CC.NO = ${classCommNo}
	
	</select>
	
 	<insert id="insertReport">
		INSERT INTO REPORT
		(
		    NO
		    ,BLACKLIST
		    ,ACCUSOR
		    , TYPE
		    , CATE_NO
		    , BOARD
		)
		VALUES
		(
		    SEQ_REPORT_NO.NEXTVAL
		    , ${blacklistNo}
		    , ${accusor}
		    , 1
		    , ${cate_no}
		    , ${board}
		    

		)
	</insert>
	
	<select id="selectStudyList" resultType="com.coding5.el.class_comm.vo.ClassCommVo">
		SELECT CC.NO CLASS_COMM_NO
		    ,CCA.NAME CATE_NO
		    ,M.NAME WRITER
		    ,TITLE 
		    ,CONTENT
		    ,ANSWER_YN
		    ,CC.REPORT_YN REPORT_YN
		    ,HIT
		    ,CC.ENROLL_DATE ENROLL_DATE
		FROM CLASS_COMM CC
		JOIN COMM_CATE CCA
		ON CC.CATE_NO = CCA.NO
        JOIN MEMBER M
        ON CC.WRITER = M.NO
		WHERE CC.CATE_NO = 2
		ORDER BY ${orderBy}
	</select>
	
	<select id="selectFreeList" resultType="com.coding5.el.class_comm.vo.ClassCommVo">
				SELECT CC.NO CLASS_COMM_NO
		    ,CCA.NAME CATE_NO
		    ,M.NAME WRITER
		    ,TITLE 
		    ,CONTENT
		    ,ANSWER_YN
		    ,CC.REPORT_YN REPORT_YN
		    ,HIT
		    ,CC.ENROLL_DATE ENROLL_DATE
		FROM CLASS_COMM CC
		JOIN COMM_CATE CCA
		ON CC.CATE_NO = CCA.NO
        JOIN MEMBER M
        ON CC.WRITER = M.NO
		WHERE CC.CATE_NO = 3
		ORDER BY ${orderBy}
	</select>
  
</mapper>
