<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="empCommMapper">

	<!-- 글 작성하기 -->
	<insert id="insertWrite">
		INSERT INTO EMP_COMM
		(
		     NO
		    ,NICK
		    ,CATEGORY
		    ,TITLE
		    ,CONTENT 
		)
		VALUES
		(
		     SEQ_FAQ_NO.NEXTVAL
		    , #{nick}
		    , #{category}
		    , #{title}
		    , #{content}
		)

	</insert>

	<!-- 커뮤 글 갯수 -->
	<select id="getEmpCommCnt" resultType="int">
		SELECT COUNT(NO)
		FROM EMP_COMM
		WHERE DELETE_YN = 'N'
	</select>
	
	<!-- 리스트 페이징 -->
	<select id="getEmpCommList" resultType="com.coding5.el.emp.comm.vo.EmpCommVo">
	SELECT * FROM
 	(
	 		SELECT ROWNUM RN, T.*
	 		FROM
	 	(
			SELECT F.NO
			    ,C.NAME AS CATEGORY
			    ,A.NICK
			    ,F.TITLE 
			    ,F.CONTENT
			    ,F.ENROLL_DATE
			    ,F.HIT
			FROM EMP_COMM F
			full outer JOIN EMP_COMM_CATE C
			ON F.CATEGORY = C.NO
			JOIN MEMBER A
			ON F.NICK = A.NO
			WHERE F.DELETE_YN = 'N'
			ORDER BY F.NO DESC
		) T
 	)
 	WHERE RN BETWEEN #{startRow} AND #{endRow}
	</select>
	
	
	<!-- 글 수정하기 -->
	<update id="editEmpComm" parameterType="com.coding5.el.emp.comm.vo.EmpCommVo">
		UPDATE EMP_COMM
        	SET TITLE = #{title},
        		CONTENT = #{content}, 
        		CATEGORY = #{category},
        		MODIFY_DATE = TO_CHAR(SYSDATE,'YY.MM.DD HH24:MI') 
        WHERE NO = #{no}
	</update>
	
	<!-- 글 삭제하기 -->
 	<update id="deleteEmpComm" >
 		UPDATE EMP_COMM
 		SET
 		DELETE_YN = 'Y'
 		WHERE NO = #{no}
 	</update>
 	
 	<!-- 조회수 + -->
	<update id="increaseHit" parameterType="com.coding5.el.emp.comm.vo.EmpCommVo">
		UPDATE EMP_COMM
			SET
				HIT = HIT+1
		WHERE NO = #{no}
	</update>
	
	<!-- 상세조회 -->
	<select id="selectDetail" resultType="com.coding5.el.emp.comm.vo.EmpCommVo">
		SELECT F.NO
		    ,C.NAME AS CATEGORY
		    ,A.NICK
		    ,F.TITLE 
		    ,F.CONTENT
		    ,F.ENROLL_DATE
		    ,F.HIT
		    ,A.NO AS MNO
		FROM EMP_COMM F
		full outer JOIN EMP_COMM_CATE C
		ON F.CATEGORY = C.NO
		JOIN MEMBER A
		ON F.NICK = A.NO
		WHERE F.NO = #{no}
	
	</select>
	
	
	<resultMap type="com.coding5.el.emp.comm.vo.LikeVo" id="likeMap">
		<result property="no" column="EMP_COMM_NO" />
	</resultMap>
	
	<!-- 좋아요 눌렀는지 안 눌렀는지 -->
	<select id="findLike" resultType="int">
		SELECT COUNT(*) FROM EMP_COMM_LIKE 
		WHERE EMP_COMM_NO = #{ empCommNo } 
		AND member_no = #{ memberNo }
	</select>
	
	
	<!-- 좋아요 확인 -->
	<select id="findHeart" parameterType="java.util.HashMap" 
			resultType="com.coding5.el.emp.comm.vo.LikeVo" resultMap="likeMap">
		SELECT * 
		FROM EMP_COMM_LIKE
		WHERE EMP_COMM_NO = #{no}
		AND MEMBER_NO = #{memberNo}
	
	</select>
	
	<!-- 좋아요 저장 -->
	<insert id="insertHeart" parameterType="com.coding5.el.emp.comm.vo.EmpCommVo">
		INSERT INTO EMP_COMM_LIKE
			(
			    LIKE_NO,
			    EMP_COMM_NO,
			    MEMBER_NO,
			    LIKE_CHECK
			)
			VALUES
			(
			    SEQ_LIKE_NO.NEXTVAL,
			    #{no},
			    #{memberNo},
			    1
			    
			)
	</insert>
	
	<!-- 좋아요 삭제 -->
	<delete id="deleteHeart" parameterType="com.coding5.el.emp.comm.vo.EmpCommVo">
		DELETE FROM EMP_COMM_LIKE
		WHERE EMP_COMM_NO = #{no}
		AND MEMBER_NO = #{memberNo};
	</delete>
  
</mapper>
