<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="faqMapper">

	<!-- 글쓰기 -->
	<insert id="insertFaq" parameterType="faqVo">
		INSERT INTO FAQ
		(
		     NO
		    ,CATEGORY
		    ,WRITER
		    ,TITLE
		    ,CONTENT 
		)
		VALUES
		(
		     SEQ_FAQ_NO.NEXTVAL
		    , #{category}
		    , 1
		    , #{title}
		    , #{content}
		)
	</insert>
	
	<!-- 페이징 -->
	<select id="getAdminList" resultType="faqVo">
 		SELECT * FROM
 		(
	 		SELECT ROWNUM RN, T.*
	 		FROM
	 		(
		 		SELECT F.NO
                    ,C.NAME AS CATEGORY
                    ,F.TITLE 
                    ,F.CONTENT
                    ,F.ENROLL_DATE
                FROM FAQ F
                FULL OUTER JOIN FAQ_CATE C
                ON F.CATEGORY = C.NO
                WHERE F.DELETE_YN = 'N'
                ORDER BY F.NO DESC
	 		) T
 		)
 		WHERE RN BETWEEN #{startRow} AND #{endRow}
 	</select>
 	
 	<!-- 게시글 총 몇 개 있는지 -->
 	<select id="getFaqCnt" resultType="int">
 		SELECT COUNT(NO)
 		FROM FAQ
 		WHERE DELETE_YN = 'N'
 	</select>
 	
 	<!-- 일반 회원 질문 리스트 -->
 	<select id="getMemberFaqList" resultType="faqVo">
 		SELECT F.NO
	        ,C.NAME AS CATEGORY
	        ,F.TITLE 
	        ,F.CONTENT
	    FROM FAQ F
	    FULL OUTER JOIN FAQ_CATE C
	    ON F.CATEGORY = C.NO
	    WHERE F.DELETE_YN = 'N'
	    AND C.NAME = '일반회원'
	    ORDER BY F.NO DESC
 	</select>
 	
 	<!-- 기업 회원 질문 리스트 -->
  	<select id="getEmpFaqList" resultType="faqVo">
  		SELECT 
		    CATEGORY
		    , TITLE
		    , CONTENT
		FROM FAQ
		WHERE CATEGORY = 2
		ORDER BY NO DESC
  	
  	</select>
 	
	
 	
 	<!-- 삭제 -->
 	<update id="deleteFaq" >
 		UPDATE FAQ
 		SET
 		DELETE_YN = 'Y'
 		WHERE NO IN 
 		<foreach collection="array" item="n" open="(" close=")" separator=",">
 		#{n}
 		</foreach>
 	</update>
 	
	
	<!-- 수정 -->
	<update id="editFaq">
		UPDATE FAQ
        	SET TITLE = #{title}, 
        		CONTENT = #{content}, 
        		MODIFY_DATE = TO_CHAR(SYSDATE,'YY.MM.DD HH24:MI') 
        WHERE NO = #{no}
	</update>
	
	<!-- 디테일 -->
	<select id="selectDetail" resultType="FaqVo">
		SELECT 
		    F.NO ,
		    F.TITLE ,
		    F.CONTENT ,
		    F.ENROLL_DATE ,
		    F.MODIFY_DATE ,
		    F.DELETE_YN ,
		    A.NICK AS ADMIN
		FROM FAQ F
		JOIN ADMIN A ON F.WRITER = A.NO 
		WHERE F.NO = #{no}
	</select>
	
	<!-- 카테고리 리스트 -->
	<select id="cateList" resultType="faqVo">
		SELECT 
		    NO,
            NAME
		FROM FAQ_CATE
	</select>
	
  
</mapper>