<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lectureMapper">
  
  <!-- 강의 등록 -->
  <insert id="insertClassOne">
	INSERT INTO CLASS
		(
		    NO
		    , TEACHER_NO
		    , CATEGORY
		    , CLASS_NAME
		    , CLASS_CONTENT
		    , PRICE
		    , ENROLL_DATE
		    , RECOMM
		    , STUDENT_CNT
		    , CLASS_CNT
		)
	VALUES
		(
		    SEQ_CLASS_NO.NEXTVAL
		    , 1
		    , #{category}
		    , #{className}
		    , #{classContent}
		    , #{price}
		    , SYSDATE
		    , 0
		    , 0
		    , 0
		)
  </insert>
  
  
  <!-- 강의 목차 등록 -->
	<insert id="insertClassDetail" parameterType="java.util.List">
		INSERT INTO DETAIL_CLASS
			(
			DETAIL_NO
			, CLASS_NO
			, CHAPTER
			)
		VALUES
			<foreach collection="list" item="item" separator=",">
				(#[item.no}, 2, #{item.chapter})
			</foreach>
	
	</insert>
	
	<!-- 강의 메인 리스트 조회 -->
	<!-- 게시판 목록 -->
    <select id="getList" resultType="com.coding5.el.lecture.vo.LectureVo">
    
        SELECT 
        	NO
			,TEACHER_NO
			,CATEGORY
			,CLASS_NAME
			,CLASS_CONTENT
			,RECOMM
			,STUDENT_CNT
			,PRICE
			,ENROLL_DATE
			,MODIFY_DATE
			,DELETE_YN
			,CLASS_CNT 
        FROM CLASS
        order by no desc
    
    </select>
	
	<!-- 강의 메인 - 카테고리 드로잉 -->
	<select id="getListDrawing" resultType="com.coding5.el.lecture.vo.LectureVo">
    
        SELECT 
        	NO
			,TEACHER_NO
			,CATEGORY
			,CLASS_NAME
			,CLASS_CONTENT
			,RECOMM
			,STUDENT_CNT
			,PRICE
			,ENROLL_DATE
			,MODIFY_DATE
			,DELETE_YN
			,CLASS_CNT 
        FROM CLASS
        WHERE CATEGORY = '1'
    
    </select>
    <!-- 강의 메인 - 요리 / 베이킹 -->
    <select id="getListCook" resultType="com.coding5.el.lecture.vo.LectureVo">
    
        SELECT 
        	NO
			,TEACHER_NO
			,CATEGORY
			,CLASS_NAME
			,CLASS_CONTENT
			,RECOMM
			,STUDENT_CNT
			,PRICE
			,ENROLL_DATE
			,MODIFY_DATE
			,DELETE_YN
			,CLASS_CNT 
        FROM CLASS
        WHERE CATEGORY = '2'
    
    </select>
    
    <!-- 강의 메인 - 카테고리 운동 -->
     <select id="getListWorkout" resultType="com.coding5.el.lecture.vo.LectureVo">
    
        SELECT 
        	NO
			,TEACHER_NO
			,CATEGORY
			,CLASS_NAME
			,CLASS_CONTENT
			,RECOMM
			,STUDENT_CNT
			,PRICE
			,ENROLL_DATE
			,MODIFY_DATE
			,DELETE_YN
			,CLASS_CNT 
        FROM CLASS
        WHERE CATEGORY = '3'
    
    </select>
    
    <!-- 강의 메인 - 카테고리 음악 -->
     <select id="getListMusic" resultType="com.coding5.el.lecture.vo.LectureVo">
    
        SELECT
        	NO
			,TEACHER_NO
			,CATEGORY
			,CLASS_NAME
			,CLASS_CONTENT
			,RECOMM
			,STUDENT_CNT
			,PRICE
			,ENROLL_DATE
			,MODIFY_DATE
			,DELETE_YN
			,CLASS_CNT 
        FROM CLASS
        WHERE CATEGORY = '4'
    
    </select>
    
    <!-- 강의 메인 - 카테고리 it -->
     <select id="getListItTech" resultType="com.coding5.el.lecture.vo.LectureVo">
    
        SELECT 
        	NO
			,TEACHER_NO
			,CATEGORY
			,CLASS_NAME
			,CLASS_CONTENT
			,RECOMM
			,STUDENT_CNT
			,PRICE
			,ENROLL_DATE
			,MODIFY_DATE
			,DELETE_YN
			,CLASS_CNT 
        FROM CLASS
        WHERE CATEGORY = '5'
    
    </select>
    
    <!-- 강의 메인 - 카테고리 언어 -->
     <select id="getListLanguage" resultType="com.coding5.el.lecture.vo.LectureVo">
    
        SELECT 	NO
			,TEACHER_NO
			,CATEGORY
			,CLASS_NAME
			,CLASS_CONTENT
			,RECOMM
			,STUDENT_CNT
			,PRICE
			,ENROLL_DATE
			,MODIFY_DATE
			,DELETE_YN
			,CLASS_CNT 
        FROM CLASS
        WHERE CATEGORY = '6'
    
    </select>
    
    <!-- 강의 메인 - 카테고리 금융 -->
     <select id="getListFinance" resultType="com.coding5.el.lecture.vo.LectureVo">
    
        SELECT 	NO
			,TEACHER_NO
			,CATEGORY
			,CLASS_NAME
			,CLASS_CONTENT
			,RECOMM
			,STUDENT_CNT
			,PRICE
			,ENROLL_DATE
			,MODIFY_DATE
			,DELETE_YN
			,CLASS_CNT 
        FROM CLASS
        WHERE CATEGORY = '7'
    
    </select>
    
    
    <!-- 강의 검색 -->
    <select id="getSearch" resultType="com.coding5.el.lecture.vo.LectureVo">
    	SELECT 	
    		NO
			,TEACHER_NO
			,CATEGORY
			,CLASS_NAME
			,CLASS_CONTENT
			,RECOMM
			,STUDENT_CNT
			,PRICE
			,ENROLL_DATE
			,MODIFY_DATE
			,DELETE_YN
			,CLASS_CNT 
        FROM CLASS
        <if test="keyword != null and keyword != ''">
			WHERE CLASS_NAME LIKE  '%${keyword}%'
		</if> 
		

    </select>
    
    <!-- 강의 조회시 조회수 증가 -->
	<update id="increaseCount">
	     update 
	     	CLASS
         set 
         	RECOMM = RECOMM + 1
         where 
           NO = #{bno}
	</update>
	
	<!-- 강의 상세조회 -->
	<select id="classDetail" resultType="com.coding5.el.lecture.vo.LectureVo">
        SELECT
            C.NO
			, MEM.NICK AS TEACHER_NO
			,CATE.NAME as CATEGORY
			,C.CLASS_NAME
			,C.CLASS_CONTENT
			,C.RECOMM
			,C.STUDENT_CNT
			,C.PRICE
			,C.ENROLL_DATE
			,C.MODIFY_DATE
			,C.DELETE_YN
			,C.CLASS_CNT
		<!-- 	,REV.AVG(SCORE) AS REV_AVG
			,C.REVIEW_CNT -->
        FROM CLASS C
        JOIN CLASS_CATE CATE
        ON C.CATEGORY = CATE.NO
        
        JOIN TEACHER TEA
        ON C.TEACHER_NO = TEA.MEMBER_NO
        
        JOIN MEMBER MEM
        ON TEA.MEMBER_NO = MEM.NO
        
        <!-- JOIN REVIEW_LEC REV
        ON C.NO = REV.CLASS_NO -->
        
        WHERE C.NO =#{bno}
        
	</select>
	
	<select id="selectLectureConut" resultType="int">
		SELECT COUNT(*)
		FROM CLASS
		WHERE DELETE_YN = 'N'
	</select>

	<select id="selectReview" resultType="com.coding5.el.lecture.vo.ReviewVo">
	    	SELECT 	
	    		RE.NO
				, MEM.NICK AS WRITER
				, RE.SCORE
				, RE.CONTENT
				, RE.DELETE_YN
				, RE.ENROLL_DATE
				, RE.MODIFY_YN
				, RE.CLASS_NO
	        FROM REVIEW_LEC RE
	        
	        
	        JOIN MEMBER MEM
        	ON MEM.NO = RE.WRITER
        	
        	WHERE CLASS_NO = #{bno}
	        
	        
	    </select>
	
	<select id="selectReviewCount" resultType="int">
		SELECT COUNT(*)
		FROM REVIEW_LEC
		WHERE DELETE_YN = 'N'
		AND CLASS_NO = #{bno}
	</select>

  
</mapper>
