<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

<resultMap type="com.coding5.el.member.vo.MemberVo" id="memberMap">
	<result property="memberNo" column="NO"/>
	<result property="memberId" column="ID"/>
	<result property="memberPwd" column="PWD"/>
	<result property="memberName" column="NAME"/>
	<result property="memberNick" column="NICK"/>
	<result property="profileImgName" column="PROFILE_IMG_NAME"/>
	
</resultMap>

  <insert id="insertMember">
INSERT INTO MEMBER
	(
	    NO
	    ,ID
	    ,PWD
	    ,NAME
	    ,BIRTH
	    ,PHONE
	    ,NICK
	    ,EMAIL
	)VALUES
	(	SEQ_MEMBER_NO.NEXTVAL
		 , #{memberId}
		 , #{memberPwd}
		 , #{memberName}
		 , #{birth}
		 , #{phone}
		 , #{memberNick}
		 , #{email}
		 )
  </insert>
  
  <select id="selectMemberOne" resultType="com.coding5.el.member.vo.MemberVo" resultMap="memberMap">
		  	SELECT 
		    NO
		    ,ID
		    ,PWD
		    ,NAME
		    ,TO_CHAR(BIRTH, 'YYYY-MM-DD') AS BIRTH
		    ,PHONE
		    ,NICK
		    ,EMAIL
		    ,ENROLL_DATE
		    ,MODIFY_DATE
		   
			    ,PROFILE_IMG_NAME
		    
		    ,POINT
		    ,REPORT_YN
		    ,QUIT_YN
		FROM MEMBER 
		where ID = #{memberId}
		AND DELETE_YN = 'N'
  	
  </select>
  
  <select id="selectIdDup" resultType="string">
  	SELECT ID 
  	FROM MEMBER
  	WHERE ID = #{memberId}
  </select>
  
  <select id="selectMemberNick" resultType="string">
  	SELECT NICK
  	FROM MEMBER
  	WHERE NICK = #{memberNick}
  </select>
  
   <select id="selectIdFind" resultType="string">
	SELECT ID
	FROM MEMBER
	WHERE NAME = #{memberName}
	AND EMAIL = #{email}
  </select>
  
  <update id="updateMemberOne">
  UPDATE MEMBER
	SET 
	PROFILE_IMG_NAME = #{profileImgName}
	,PWD = #{memberPwd}
	,NAME = #{memberName}
	,PHONE = #{phone}
	,NICK = #{memberNick}
	,MODIFY_DATE = TO_CHAR(SYSDATE,'YY.MM.DD HH24:MI')
	WHERE NO = ${memberNo}
  </update>
  
	<select id="selectCommWriteList" resultType="com.coding5.el.class_comm.vo.ClassCommVo">
		SELECT 
		CLC.TITLE
	    , TO_CHAR(CLC.ENROLL_DATE, 'YY-MM-DD HH24:MI') AS ENROLL_DATE
	    , CA.NAME CATEGORY
	    , CLC.NO CLASS_COMM_NO
		FROM CLASS_COMM CLC 
		JOIN COMM_CATE CA
		ON CLC.CATE_NO = CA.NO
		WHERE WRITER = ${memberNo}
		ORDER BY ENROLL_DATE DESC
	</select>
	
	<select id="selectClassReviewList" resultType="com.coding5.el.member.vo.ClassListVo">
		SELECT R.SCORE SCORE
		, R.CONTENT CONTENT
		, TO_CHAR(R.ENROLL_DATE, 'YY-MM-DD HH24:MI' ) ENROLL_DATE
		, R.CLASS_NO CLASS_NO
		, C.CLASS_NAME CLASS_NAME
		FROM REVIEW_LEC R
		JOIN CLASS C
		ON R.CLASS_NO = C.NO
		WHERE WRITER = ${mNo}
		ORDER BY ENROLL_DATE DESC
	</select>
	
	<select id="selectEncPassword" resultType="string">
		SELECT PWD
		FROM MEMBER
		WHERE NO = ${memberNo}
	</select>
	
	<update id="updateDeleteMember">
		UPDATE MEMBER
		SET DELETE_YN = 'Y'
		WHERE NO = ${memberNo}
	</update>
	
	<select id="selectTeacherCheck" resultType="string">
		SELECT T.STATUS_YN
		FROM TEACHER T
		JOIN MEMBER M
		ON M.NO = T.MEMBER_NO
		WHERE M.NO = ${memberNo}
	</select>
	

  
</mapper>
