<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">

	<!-- 글쓰기 -->
	<insert id="write" parameterType="noticeVo">
		INSERT INTO NOTICE 
		( 
			NO
			, ADMIN
			, TITLE
		    , CONTENT 
			, ENROLL_DATE
		) 
		VALUES 
		(  
			SEQ_NOTICE_NO.NEXTVAL
			, 1
			, #{title}
			, #{content}
			, SYSDATE
		)
	</insert>

	<!-- 목록 조회 -->	
	<select id="selectList" resultType="NoticeVo">
  	
  		SELECT NO, TITLE, ADMIN, ENROLL_DATE, HIT
  		FROM NOTICE 
  		WHERE STATUS = 'O' 
  		ORDER BY NO DESC
  	
  	</select>
  	
  	<!-- 페이지 카운트 -->
  	<select id="selectListCount" resultType="int">
		SELECT COUNT(*)
		FROM NOTICE
	</select>
	
	

  
</mapper>