<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="paymentMapper">
  
  <!-- 주문 테이블 추가 -->
  <insert id="addBuy">
  		
  		INSERT ALL
  		<foreach collection="list" item="vo" >
  		INTO BUY
  		(
	  		NO
			, MEMBER_NO
			, CLASS_NO
			, USE_POINT
			, SAVE_POINT
			, SUM
			, ORDER_DATE
		)
		VALUES(
			GET_SEQ_BUY
			, #{vo.memberNo}
			, #{vo.classNo}
			, #{vo.usePoint}
			, #{vo.savePoint}
			, #{vo.sum}
			, SYSDATE
		
		)
  		</foreach>
  		select 1 from dual
  		
  </insert>
  
  <!-- 주문 정보 테이블 추가 -->
  <insert id="addBuyList">
  		
  		INSERT ALL
  		<foreach collection="list" item="vo" >
  		INTO BUYLIST
  		(
	  		NO
			, BUY_NO
			, CLASS_NO
			, ORDER_DATE
			, PRICE		
			)
		VALUES(
			GET_SEQ_BUYLIST
			, #{vo.memberNo}
			, #{vo.classNo}
			, SYSDATE
			, #{vo.savePoint}
		
		)
  		</foreach>
  		select 1 from dual
  		
  </insert>
  
  <!-- 결제금액 1% 포인트추가 -->
  <insert id="addPoint">
  	insert into point
  	(
  		MEMBER_NO
		, HISTORY
		, CHANGE
		, ENROLL_DATE
  	)
  	values
  	(
  		#{no}
  		, 2
  		, #{savedPointstr}
  		, SYSDATE
  	)
  	
  	
  </insert>
  
  <!-- 사용한만큼 포인트삭제 -->
    <insert id="minusPoint">
  	insert into point
  	(
  		MEMBER_NO
		, HISTORY
		, CHANGE
		, ENROLL_DATE
  	)
  	values
  	(
  		#{no}
  		, 1
  		, '-'||#{usedPoint}
  		, SYSDATE
  	)
  	
  	
  </insert>
  
  
  
  <!-- 결제 테이블 추가 -->
  <insert id="addPay">
  		
  		INSERT ALL
  		<foreach collection="list" item="vo" >
  		INTO BUY
  		(
	  		NO
			, PAYMENT_METHOD
			, BUY_NO
			, ENROLL_DATE
			, AMOUNT
		)
		VALUES(
			GET_SEQ_PAY
			, 1
			, buy_no
			, SYSDATE
			, #{vo.sum}

		)
  		</foreach>
  		select 1 from dual
  		
  </insert>
  

</mapper>
