<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="paymentMapper">
  
  <!-- 주문 테이블 추가 -->
  <insert id="addBuy">
  		
  		INSERT INTO BUY
  		(
	  		NO
			, MEMBER_NO
			, USE_POINT
			, SAVE_POINT
			, SUM
			, ORDER_DATE
		)
		VALUES(
			SEQ_BUY_NO.nextval
			, #{no}
			, #{usePoint}
			, #{savePoint}
			, #{sum}
			, SYSDATE
		)


  </insert>
  
  <!-- 주문 정보 테이블 추가 -->
  <insert id="addBuyList">
  		
  		INSERT ALL
  		<foreach collection="list" item="vo" >
  		INTO BUYLIST
  		(
	  		NO
			, BUY_NO
			, MEMBER_NO
			, CLASS_NO
			, ORDER_DATE	
			)
		VALUES(
			GET_SEQ_BUYLIST
			, SEQ_BUY_NO.CURRVAL
			, #{vo.memberNo}
			, #{vo.classNo}
			, SYSDATE
		
		)
  		</foreach>
  		select 1 from dual
  		
  </insert>
  
  <!-- 결제금액 1% 포인트추가 -->
  <insert id="addPoint">
  	insert into point
  	(
  		MEMBER_NO
		, HISTORY
		, CHANGE
		, ENROLL_DATE
  	)
  	values
  	(
  		#{no}
  		, 2
  		, #{savedPointstr}
  		, SYSDATE
  	)
  	
  	
  </insert>
  
  <!-- 사용한만큼 포인트삭제 -->
    <insert id="minusPoint">
  	insert into point
  	(
  		MEMBER_NO
		, HISTORY
		, CHANGE
		, ENROLL_DATE
  	)
  	values
  	(
  		#{no}
  		, 1
  		, '-'||#{usedPoint}
  		, SYSDATE
  	)
  	
  	
  </insert>
  
  
  
  <!-- 결제 테이블 추가 -->
  <insert id="addPay">
  		
  insert into payment
  (
  	NO
, PAYMENT_METHOD
, BUY_NO
, ENROLL_DATE
, AMOUNT
  )
  values(
  SEQ_PAYMENT_NO.NEXTVAL
  , 1
  , SEQ_BUY_NO.CURRVAL
  , SYSDATE
  , #{sum}
  )
  		
  </insert>
  
  
  <!-- 가격 업데이트 -->
  <update id="updatePrice">
  
	 update buylist list
	  	set(list.price) = (
	  		select c.price as price
	  		from class c
	  		where list.class_no = c.no
	  	)
  
  </update>
  
  
  <!-- 결제한 강의 장바구니에서 삭제 -->
  <update id="deleteCart" parameterType="java.util.List">
  	update cart
  	set ORDER_YN = 'Y'
  	 <foreach collection="list" item="item"  separator=";" open="DECLARE BEGIN" close="; END;" >
  	 where MEMBER_NO = #{item.memberNo}
  	</foreach>
  
  </update>

</mapper>
