<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qnaMapper">

	<!-- 글쓰기 -->
	<insert id="insertMemberWrite" parameterType="com.coding5.el.qna.vo.QnaVo">
		INSERT INTO QNA
		(
		     NO
		    ,MEMBER_NO
		    ,CATEGORY
		    ,TITLE
		    ,CONTENT 
		)
		VALUES
		(
		     SEQ_QNA_NO.NEXTVAL
		    , #{memberNo}
		    , #{category}
		    , #{title}
		    , #{content}
		)
	</insert>
	
	<!-- 관리자 답변 쓰기 -->
	<insert id="insertAdminWrite" parameterType="com.coding5.el.qna.vo.QnaVo">
		INSERT INTO QNA
		(
		     NO
		    ,ADMIN_NO
		    ,CATEGORY
		    ,TITLE
		    ,CONTENT 
		)
		VALUES
		(
		     SEQ_QNA_NO.NEXTVAL
		    , #{adminNo}
		    , #{category}
		    , #{title}
		    , #{content}
		)
	</insert>
	
	
  
</mapper>