<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qnaMapper">

	<!-- 글쓰기 -->
	<insert id="insertMemberWrite" parameterType="com.coding5.el.qna.vo.QnaVo">
		INSERT INTO QNA
		(
		     NO
		    ,ADMIN_NO
		    ,MEMBER_NO
		    ,CATEGORY
		    ,TITLE
		    ,CONTENT 
		)
		VALUES
		(
		     SEQ_QNA_NO.NEXTVAL
		    , 1
		    , #{memberNo}
		    , #{category}
		    , #{title}
		    , #{content}
		)
	</insert>
	
	<!-- 관리자 답변 쓰기 -->
	<update id="answerAdminWrite" parameterType="com.coding5.el.qna.vo.QnaVo">
		
	</update>
	
	<!-- 글 갯수 -->
	<select id="getQnaCommCnt" resultType="com.coding5.el.qna.vo.QnaVo">
		SELECT COUNT(NO)
		FROM QNA
		WHERE DELETE_YN = 'N';
	</select>
	
	<!-- qna 리스트 -->
	<select id="getQnaList" resultType="com.coding5.el.qna.vo.QnaVo">
		
		SELECT * FROM
	 	(
		 		SELECT ROWNUM RN, T.*
		 		FROM
		 	(
				SELECT F.NO
				    ,C.NAME AS CATEGORY
				    ,A.NICK
				    ,F.TITLE 
				    ,F.CONTENT
				    ,F.ENROLL_DATE
				    ,F.ANSWER_YN
				FROM QNA F
				full outer JOIN QNA_CATE C
				ON F.CATEGORY = C.NO
				JOIN MEMBER A
				ON F.MEMBER_NO = A.NO
				WHERE F.DELETE_YN = 'N'
				ORDER BY F.NO DESC
			) T
	 	)
	 	WHERE RN BETWEEN #{startRow} AND #{endRow}
		
	</select>
  
</mapper>