
.container{
    position: relative;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
}

.logo-wrap{
    width: 300px;
    height: 300px;
}
.find-wrap{
    width: 300px;
    margin: 0 auto;
    padding-bottom: 100px;
}


.title{
    margin-bottom: 32px;
    text-align: center;
}

.title>h1{
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 18px;
}
.title>p{
    font-size: 15px;
    line-height: 18px;
    color: rgb(71, 71, 71);
}

.result-wrap{
    padding: 20px;
    margin-bottom: 32px;
    width: 258px;
    border-radius: 8px;
    border: 1px solid #dee2e6;
    line-height: 1.5;
}

.result-wrap>h3{
    margin-bottom: 16px;

}

.result-wrap>span{
    color: #adb5bd;
   
}

button{
    display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    color: #fff;
    background-color: #1187CF;
    border: 0 none;
}

