/* #container{
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
} */
*{
  box-sizing: border-box;
}

#header{
  border-bottom: 1px solid rgb(173, 172, 172);
}

.container-wrapper{
  border-bottom: 1px solid #f1f3f5; 
}

#container-top{
  display: flex;
  width: 1200px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 14px;
}


/* 諛섏쓳�삎 */
/* @media(max-width: 1200px){
  #container-top{
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid #f1f3f5; 
  }
} */

header .page{
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0 32px;
}

header .choose-tap ::after{
  content: "|";
  margin-right: 5px;
  margin-left: 5px;
}

header .teacher{
  display: flex;
  align-items: center;
  margin: 0;
}

header a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
}

header .logoTop{
  text-align: center;
}

.el-logo{
  display: inline-block;
  width: 100px;
  height: 100px;
}

#nav-container{
  display: flex;
  height: 50px;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 10px;
  justify-content: space-between;
}

header .nav-list{
  display: flex;
  width: 350px;
  justify-content: space-around;
  padding: 0;
}

header .menu-list{
  padding: 8px 16px;
}

header .search-wrapper{
  width: 300px;
  position: absolute;
  left: calc(50% - 150px);
}

header .search{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 25px;
}

header .searchIcon{
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 30px;
}

header .bi-search::before{
  content: "\F52A";
}

header .click-search{
  width: 250px;
  height: 25px;
}

header .member{
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  height: 30px;
}

header .login{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #1187CF;
  border-radius: 5px;
  line-height: 25px;
}

header .join{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 30px;
  vertical-align: bottom;
  border: 2px solid #1187CF;
  background-color: #1187CF;
  color: white;
  border-radius: 5px;
  line-height: 25px;
}

header .search-btn-wrapper{
  display: flex;
  align-items: center;
  position: relative;
}

header .search-btn{
  position: absolute;
  border: none;
  background-color: transparent;
  right: 0;
}

/*  */

#member-stu{
  margin-top: 3px;
  width: 25px;
  height: 22px;
}

#member-tea{
  margin-right: 2px;
  width: 25px;
  height: 24px;
}

#memberimg{
  width: 30px;
  height: 30px;
}

#cartimg{
  width: 30px;
  height: 30px;
}

#memName{
  padding-top: 5px;
  font-size: 20px;
  font-weight: 700;
  width: 130px;
}

#teaName{
  padding-top: 3px;
  font-size: 20px;
  font-weight: 700;
  width: 130px;
}

#mem-wrap{
  display: flex;
  align-items: center;
  /* padding-top: 2px; */
  padding-bottom: 2px
}


/*  */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.dropdown{
  position : relative;
  display : inline-block;
}

.dropbtn_icon{
  font-family : 'Material Icons';
}
.drop{
  font-weight: 400;
  color : rgb(37, 37, 37);
  /* text-align: left; */
  cursor : pointer;
  font-size : 12px;
  background-color: white;
  display : flex;
  
}
.dropdown-content{
  display : none;
  position : absolute;
  z-index : 1; /*�떎瑜� �슂�냼�뱾蹂대떎 �븵�뿉 諛곗튂*/
  font-weight: 400;
  background-color: white;
  border: 0.1px solid #1187CF;
  min-width : 200px;
  border-radius: 3px;
  
}

.dropdown-content a{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 15px;
  padding : 12px 20px;
  background-color: white;
}

.dropdown-content a:hover{
  background-color : #ececec
}

.dropdown:hover .dropdown-content {
  display: block;
}
