
#container{
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

#container-top{
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f1f3f5; 
  font-size: 14px;
}

/* 반응형 */
/* @media(max-width: 1200px){
  #container-top{
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid #f1f3f5; 
  }
} */

.page{
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0 32px;
  margin-left: 180px;
}

.choose-tap ::after{
  content: "|";
  margin-right: 5px;
  margin-left: 5px;
}

.teacher{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 32px;
  margin-right: 180px;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
}

.logo{
  text-align: center;
}

.logo>a>img{
  width: 100px;
  height: 100px;
}

#nav-container{
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.nav-list{
  display: flex;
  width: 350px;
  justify-content: space-around;
  padding: 0;
}

.menu-list{
  padding: 8px 16px;
}

.search-wrapper{
  width: 300px;
}

.search{
  display: flex;
  justify-content: center;
  width: 300px;
}

.click-search{
  width: 250px;
}

.member{
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.login{
  width: 65px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #1187CF;
  border-radius: 5px;
}

.join{
  width: 70px;
  height: 25px;
  text-align: center;
  vertical-align: bottom;
  border: 2px solid #1187CF;
  background-color: #1187CF;
  color: white;
  border-radius: 5px;
}


