/* #container{
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
} */
#header{
  border-bottom: 1px solid rgb(173, 172, 172);
}

.container-wrapper{
  border-bottom: 1px solid #f1f3f5; 
}

#container-top{
  display: flex;
  width: 1200px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 14px;
}


/* 반응형 */
/* @media(max-width: 1200px){
  #container-top{
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid #f1f3f5; 
  }
} */

header .page{
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0 32px;
}

header .choose-tap ::after{
  content: "|";
  margin-right: 5px;
  margin-left: 5px;
}

header .teacher{
  display: flex;
  align-items: center;
  margin: 0;
}

header a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
}

header .logoTop{
  text-align: center;
}

img{
  display: inline-block;
  width: 100px;
  height: 100px;
}

#nav-container{
  display: flex;
  height: 50px;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 10px;
  justify-content: space-between;
}

header .nav-list{
  display: flex;
  width: 350px;
  justify-content: space-around;
  padding: 0;
}

header .menu-list{
  padding: 8px 16px;
}

header .search-wrapper{
  width: 300px;
  position: absolute;
  left: calc(50% - 150px);
}

header .search{
  display: flex;
  justify-content: center;
  width: 300px;
}

header .click-search{
  width: 250px;
}

header .member{
  display: flex;
  justify-content: space-around;
  width: 150px;
}

header .login{
  width: 65px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #1187CF;
  border-radius: 5px;
  line-height: 25px;
}

header .join{
  width: 70px;
  height: 25px;
  text-align: center;
  vertical-align: bottom;
  border: 2px solid #1187CF;
  background-color: #1187CF;
  color: white;
  border-radius: 5px;
  line-height: 25px;
}


