#mail-cate{
    display: block;
}
#mail{
    background-color: #005297;
}

#mail-send{
    font-weight: bold;
}

.main-wrap>h2{
    font-size: 20px;
    margin-bottom: 5px;

}

.mail-wrap{
    padding: 20px 30px;
    border-top: 2px solid rgb(51, 51, 51);
    width: 100%;
}

.input-area{
    display: flex;
    padding: 8px 0px;
    align-items: flex-start;
}

.input-area>label{
    width: 140px;
    font-size: 15px;
    line-height: 21px;
    padding-top: 5px;
}


#title,#toAddress{
    width: 800px;
    height: 36px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}
#toAddress{
    width: 400px;
}

.add-btn-area{
    padding-left: 10px;
}

.add-btn{
    width: 35px;
    height: 28px;
    border: none;
    border-radius: 3px;
    background-color: #005297;
}

.add-btn>span{
    font-size: 18px;
    color: #fff;
}

.content{
    align-items: flex-start;
}


.text-wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 800px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
}

.text-wrap>textarea{
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 16px;
    font-size: 16px;
    line-height: 21px;
    word-break: break-all;
    z-index: 1;
    background: none;
    border-radius: 4px;
    color: rgb(51, 51, 51);
    outline: none;
    resize: none;
    border: none;
}

.radio-wrap>label{
    line-height: 21px;

    font-size: 15px;
}

.btn-area{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 40px;
}

.btn-area>button{
    color: #fff;
    border: solid 1px rgba(0,0,0,.08);
    background-color: #005297;
    display: block;
    width: 120px;
    padding: 10px 0 10px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 3px;
}


.radio-wrap>label{
    margin-right: 8px;
}

.new-receiver{
    margin-top: 5px;
}
