@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body{
  font-family: 'nanumsquare';

}
#container{
    display: grid;
    grid-template-columns: 2fr 0fr 7fr 2fr;
}

#wrap{
    margin: auto;
    /* border: 1px solid black; */
    width: 600px;
    height: 500px;
}

#writeList-main{
    margin: auto;
    width: 580px;
    height: 100px;
    
    text-align: center;
    display: flex;
    align-self: center;
}

#writeList-wrap{
    margin: auto;
}

#writeList-top{
    margin: auto;
    border: 1px solid #1187CF;
    /* width: 500px; */
    /* height: 20px; */
}

#f{
    margin-bottom: 0px;   
}



a{
    text-decoration: none;
}

th{
    text-align: center;
}

#img-delete{
    height: 13px;
    width: 11px;
    padding-bottom: 2px;
}

#page-alert{
    margin: auto;
    width: 500px;
}

#pagenation{
    color: #1187CF;
    width: 580px;
    display: flex;
    justify-content: center;
}

#page-active{
    background-color: #1187CF;
}


#writeList{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

#writeList-content{
    font-size: small;
    color: gray;
}

#write-top{
    text-align: center;
}

#write-cate{
    font-weight: 700;
}

#write-date{
    font-weight: 100;
    
}

#write-title{
    
    font-weight: 500;
}

thead{
    border: 2px solid #1187CF;
}

.nav-link active{
    text-align: center;
}

#community:hover:hover{
    color: black !important;
    font-weight: 700 !important;
}
